<% @page_title = "Create Account" %>

<% @page_message = "Create a new account" %>

<form class="rodauth space-y-6" role="form" method="POST">
  <%== rodauth.csrf_tag %>
  <%== render("components/flash_message") %>
  <div>
    <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
    <div class="mt-2">
      <input
        id="email"
        name="login"
        type="email"
        autocomplete="email"
        required
        class="
          block
          w-full
          rounded-md
          border-0
          py-1.5
          text-gray-900
          shadow-sm
          ring-1
          ring-inset
          ring-gray-300
          placeholder:text-gray-400
          focus:ring-2
          focus:ring-inset
          focus:ring-indigo-600
          sm:text-sm
          sm:leading-6
        "
      >
    </div>
  </div>

  <% if rodauth.create_account_set_password? %>
    <div>
      <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
      <div class="mt-2">
        <input
          id="password"
          name="password"
          type="password"
          autocomplete="current-password"
          required
          class="
            block
            w-full
            rounded-md
            border-0
            py-1.5
            text-gray-900
            shadow-sm
            ring-1
            ring-inset
            ring-gray-300
            placeholder:text-gray-400
            focus:ring-2
            focus:ring-inset
            focus:ring-indigo-600
            sm:text-sm
            sm:leading-6
          "
        >
      </div>
    </div>
    <% if rodauth.require_password_confirmation? %>
      <div>
        <label
          for="password-confirm"
          class="block text-sm font-medium leading-6 text-gray-900"
        >Password Confirmation</label>
        <div class="mt-2">
          <input
            id="password-confirm"
            name="password-confirm"
            type="password"
            autocomplete="current-password"
            required
            class="
              block
              w-full
              rounded-md
              border-0
              py-1.5
              text-gray-900
              shadow-sm
              ring-1
              ring-inset
              ring-gray-300
              placeholder:text-gray-400
              focus:ring-2
              focus:ring-inset
              focus:ring-indigo-600
              sm:text-sm
              sm:leading-6
            "
          >
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="flex flex-col text-center">
    <button
      type="submit"
      class="
        flex
        w-full
        justify-center
        rounded-md
        bg-indigo-600
        px-3
        py-2
        text-sm
        font-semibold
        text-white
        shadow-sm
        hover:bg-indigo-500
        focus-visible:outline
        focus-visible:outline-2
        focus-visible:outline-offset-2
        focus-visible:outline-indigo-600
      "
    >Create Account</button>
    <a href="/login" class="mt-2 text-sm font-semibold leading-6 text-gray-900">Sign in to existing account</a>
  </div>
</form>
