<% @page_title = "Login to #{@oidc_provider.display_name} via OIDC"
@use_page_message = true
if (redirect_url = typecast_params.nonempty_str("redirect_url"))
  form_action = "?redirect_url=#{redirect_url}"
  button = "Connect"
  @page_message = "Connect your account on #{@oidc_provider.display_name}"
else
  button = "Login"
  @page_message = "Sign in to your account on #{@oidc_provider.display_name} using OpenID Connect"
end %>

<% form(action: form_action, method: :post, class: "rodauth form-group") do %>
  <button
    class="btn social-login-button"
    type="submit"
  >
    <span class="text-sm font-semibold"><%= button %></span>
  </button>
<% end %>
