<% @page_title = "2FA - One-Time Password" %>

<% @page_message = "Verify your sign in" %>

<% form(action: rodauth.otp_auth_path, method: :post, class: "rodauth form-group") do %>

  <%== render("components/rodauth/otp_auth_code_field") %>

  <div class="flex flex-col text-center">
    <%== part("components/form/submit_button", text: rodauth.otp_auth_button) %>
    <p class="mt-10 text-center text-sm text-gray-400">
      Can't access your authentication app?
      <br>
      <a href="<%= rodauth.recovery_auth_path %>" class="link-primary font-semibold">Enter a recovery code</a>
      or
      <a href="mailto:support@ubicloud.com" class="link-primary font-semibold">contact support</a>
    </p>
  </div>
<% end %>

<%== rodauth.otp_auth_form_footer %>
