<% @page_title = "2FA - Recovery Codes" %>

<% @page_message = "Verify your sign in" %>

<% form(action: rodauth.recovery_auth_path, method: :post, class: "rodauth form-group") do %>

  <%== part(
    "components/form/text",
    name: rodauth.recovery_codes_param,
    label: "#{rodauth.recovery_codes_label}#{rodauth.input_field_label_suffix}",
    attributes: {
      required: true,
      autocomplete: "off"
    }
  ) %>

  <div class="flex flex-col text-center">
    <%== part("components/form/submit_button", text: rodauth.recovery_auth_button) %>
    <p class="mt-10 text-center text-sm text-gray-400">
      Can't access your recovery codes?
      <br>
      <a href="mailto:support@ubicloud.com" class="link-primary font-semibold">contact support</a>
    </p>
  </div>
<% end %>
