<% @page_title = "Request Password Reset" %>

<% @page_message = "Request password reset" %>

<% form(action: rodauth.reset_password_request_path, method: :post, class: "rodauth form-group") do %>

  <div>
    <p class="text-sm"><%== rodauth.reset_password_explanatory_text %></p>
  </div>

  <%== render("components/rodauth/login_field") %>

  <div class="auth-centered-content">
    <%== part("components/form/submit_button", text: "Request Password Reset") %>
    <a href="/login" class="auth-secondary-link">Sign in to another account</a>
  </div>
<% end %>
