<% @page_title = "Reset Password" %>

<% @page_message = "Reset your password" %>

<% form(role: :form, method: :post, class: "rodauth space-y-6") do %>

  <%== render("components/rodauth/password_field") %>
  <%== part("components/rodauth/password_field", confirm: true) %>

  <div class="flex flex-col text-center">
    <%== part("components/form/submit_button", text: "Reset Password") %>
    <a href="/login" class="mt-2 text-sm font-semibold leading-6 text-gray-900">Sign in to another account</a>
  </div>
<% end %>
