<% unless omniauth_providers.empty? %>
  <div class="mt-4">
    <div class="divider-wrapper">
      <div class="divider-line" aria-hidden="true">
        <div></div>
      </div>
      <div class="divider-label">
        <span class="divider-text">Or continue with</span>
      </div>
    </div>
    <div class="social-login-grid" style="grid-template-columns: repeat(<%= omniauth_providers.length %>, minmax(0, 1fr));">
      <% omniauth_providers.each do |provider, name| %>
        <% form(action: rodauth.omniauth_request_path(provider), method: :post, class: :grow) do %>
          <button
            class="btn social-login-button"
            type="submit"
          >
            <%== part("components/icon", name: provider.to_s) %>
            <span class="text-sm font-semibold"><%= name %></span>
          </button>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
