<% @page_title = "Verify Account" %>

<% @page_message = "Verify your account" %>

<% form(method: :post, class: "rodauth form-group") do %>

  <div class="auth-centered-content">
    <%== part("components/form/submit_button", text: "Verify Account") %>
    <a href="/login" class="auth-secondary-link">Sign in to another account</a>
  </div>
<% end %>
