<% @page_title = "Verify Account" %>

<% @page_message = "Verify your account" %>

<% form(role: :form, method: :post, class: "rodauth space-y-6") do %>

  <div class="flex flex-col text-center">
    <%== part("components/form/submit_button", text: "Verify Account") %>
    <a href="/login" class="mt-2 text-sm font-semibold leading-6 text-gray-900">Sign in to another account</a>
  </div>
<% end %>
