<% @page_title = "Verify Account" %>

<% @page_message = "Verify your account" %>

<form class="rodauth space-y-6" role="form" method="POST">
  <%== rodauth.csrf_tag %>

  <% if rodauth.verify_account_set_password? %>
    <%== render(
      "components/form/text",
      locals: {
        name: "password",
        type: "password",
        label: "Password",
        attributes: {
          required: true,
          autocomplete: "current-password"
        }
      }
    ) %>
    <% if rodauth.require_password_confirmation? %>
      <%== render(
        "components/form/text",
        locals: {
          name: "password-confirm",
          type: "password",
          label: "Password Confirmation",
          attributes: {
            required: true,
            autocomplete: "current-password"
          }
        }
      ) %>
    <% end %>
  <% end %>

  <div class="flex flex-col text-center">
    <%== render("components/form/submit_button", locals: { text: "Verify Account" }) %>
    <a href="/login" class="mt-2 text-sm font-semibold leading-6 text-gray-900">Sign in to another account</a>
  </div>
</form>
