<% @page_title = "Resend Verification" %>

<% @page_message = "Resend account verification" %>

<% form(action: rodauth.verify_account_resend_path, method: :post, class: "rodauth form-group") do %>
  <% recently_sent = rodauth.verify_account_email_recently_sent? if rodauth.account %>

  <% if !rodauth.account || recently_sent %>
    <div class="text-sm"><%== rodauth.verify_account_resend_explanatory_text %></div>
  <% end %>

  <% if rodauth.param_or_nil(rodauth.login_param) %>
    <%== hidden_inputs(rodauth.login_param => rodauth.param(rodauth.login_param)) %>
  <% else %>
    <%== render("components/rodauth/login_field") %>
  <% end %>

  <div class="auth-centered-content">
    <%== part(
      "components/form/submit_button",
      text: "Send Verification Again",
      attributes: recently_sent ? { disabled: true } : {}
    ) %>
    <a href="/login" class="auth-secondary-link">Sign in to another account</a>
  </div>
<% end %>
