<% @page_title = "Verify New Email" %>

<% if rodauth.authenticated? %>
  <%== part("components/page_header", title: "My Account") %>

  <main>
    <div style="max-width: 1280px; padding-bottom: var(--spacing-6);">
      <div class="card">
        <div style="border-bottom: 1px solid var(--gray-200);" class="lg:grid lg:grid-cols-12">
          <%== render("account/submenu") %>
          <div style="border-top: 1px solid var(--gray-200); padding-bottom: 2.5rem;" class="lg:col-span-8 xl:col-span-9 2xl:col-span-10">
            <div class="px-4 py-6 sm:p-6" style="display: flex; flex-direction: column; gap: var(--spacing-4);">
              <h2 class="text-lg font-medium text-gray-900">Verify New Email</h2>
              <% form(method: :post) do %>
                <div class="mt-6 grid grid-cols-6 gap-6">
                  <div class="col-span-6">
                    <%== part("components/form/submit_button", text: "Click to Verify New Email") %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
<% else %>
  <% @page_message = "Verify your new email" %>

  <% form(method: :post, class: "rodauth form-group") do %>
    <div class="flex flex-col text-center">
      <%== part("components/form/submit_button", text: "Click to Verify New Email") %>
      <a href="/login" class="mt-2 text-sm font-semibold text-gray-900">Sign in to another account</a>
    </div>
  <% end %>
<% end %>
