<% @page_title = "Verify New Email" %>

<% if rodauth.authenticated? %>
  <%== part("components/page_header", title: "My Account") %>

  <main>
    <div class="account-container">
      <div class="card">
        <div class="account-layout-grid">
          <%== render("account/submenu") %>
          <div class="account-content content-section-bordered-top">
            <div class="form-section-padded account-section">
              <h2 class="card-heading">Verify New Email</h2>
              <% form(method: :post) do %>
                <div class="form-grid-6">
                  <div class="grid-col-6">
                    <%== part("components/form/submit_button", text: "Click to Verify New Email") %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
<% else %>
  <% @page_message = "Verify your new email" %>

  <% form(method: :post, class: "rodauth form-group") do %>
    <div class="auth-centered-content">
      <%== part("components/form/submit_button", text: "Click to Verify New Email") %>
      <a href="/login" class="auth-secondary-link">Sign in to another account</a>
    </div>
  <% end %>
<% end %>
