<% @page_title = "Admin List" %>

<ul id="admin-list">
  <% @admins.each do |login| %>
    <li><%= login %></li>
  <% end %>
</ul>

<h2>Close Admin Account</h2>
<% form({action: "/close-admin-account", method: "POST"}, button: "Close Admin Account") do |f| %>
  <%== f.input(:select, key: "login", label: "Account", options: @admins, add_blank: "Select Account", required: true) %>
<% end %>
