<% @page_title = "GitHub Runner #{@arch} VM Usage" %>

<% @data.each do |row|
    row[:name] = [row[:name], {link: "/model/GithubInstallation/#{UBID.from_uuidish(row[:id])}"}]
    row.delete(:id)
  end %>
<%== part("components/table", title: nil, table_class: "github-runner-usage-table", data: @data, use_admin_label: false) %>

<% other_arch = (@arch == "x64") ? "arm64" : "x64" %>
<h3><a href="/github-runner-usage?arch=<%= other_arch %>">Show
    <%= other_arch %></a></h3>

<h3>Columns</h3>
<p><strong>premium:</strong>
  Whether premium runners are enabled. Even when enabled, runners can still fall back to standard.</p>
<p><strong>r*:</strong>
  Number of requested runners with the specified vCPU count.</p>
<p><strong>runner_vcpus:</strong>
  Total allocated vCPUs / total requested vCPUs. Unallocated runners are waiting for the concurrency limit.</p>
<p><strong>vm_vcpus:</strong>
  Total allocated vCPUs / total vCPUs. Unallocated VMs have passed the concurrency limit but haven't found an available
  VM host yet.</p>
<p><strong>s*:</strong>
  Number of runners with that standard family, including ones that fell back from premium.</p>
<p><strong>p*:</strong>
  Number of runners with that premium family.</p>
<p><strong>a*:</strong>
  Number of alien runners.</p>
