<% @page_title = "Manage Local E2E" %>

<% data = @strands.map do |strand|
  h = strand.values.slice(:prog, :label, :try)
  frame = strand.stack[0]
  h[:id] = strand.ubid
  data = h[:data] = {}
  data["provider"] = frame["provider"]
  data["postgres_resource"] = UBID.to_ubid(frame["postgres_resource_id"]) if frame["postgres_resource_id"]

  h[:pause] = if strand.semaphores.find { it.name == "pause" }
    table_form_button("Unpause", action: "/local-e2e/unpause/#{strand.ubid}", method: "post")
  else
    table_form_button("Pause", action: "/local-e2e/pause/#{strand.ubid}", method: "post")
  end

  h
end %>

<%== part("components/table", title: "Active Local E2E Strands", table_class: "local-e2e-table", data:) %>

<h2>Start Local E2E Strand</h2>

<% form({method: "post"}, button: "Start Local E2E Strand") do |f| %>
  <%== f.input(:select, key: :prog, label: "E2E Prog", options: LOCAL_E2E_PROGS, add_blank: true, required: true) %>
  <%== f.input(:select, key: :provider, label: "Provider", options: LOCAL_E2E_PROVIDERS, add_blank: true, required: true) %>
<% end %>
