<% @page_title = "Create Project" %>

<%== part("components/page_header", breadcrumbs: [%w[Projects /project], %w[Create #]]) %>

<div class="grid gap-6">
  <% form(action: "/project", method: :post) do %>
    <!-- Create Card -->
    <div class="overflow-hidden rounded-lg shadow ring-1 ring-black ring-opacity-5 bg-white divide-y divide-gray-200">
      <div class="px-4 py-5 sm:p-6">
        <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <%== part(
              "components/form/text",
              name: "name",
              label: "Name",
              attributes: {
                required: true,
                placeholder: "Enter name"
              }
            ) %>
          </div>
        </div>

      </div>
      <div class="px-4 py-5 sm:p-6">
        <div class="flex items-center justify-end gap-x-6">
          <a href="/project" class="text-sm font-semibold leading-6 text-gray-900">Cancel</a>
          <%== part("components/form/submit_button", text: "Create") %>
        </div>
      </div>
    </div>
  <% end %>
</div>
