<% @page_title = "Create Project" %>

<%== part("components/page_header", breadcrumbs: [%w[Projects /project], %w[Create #]]) %>

<div class="grid gap-6">
  <% form(action: "/project", method: :post) do %>
    <!-- Create Card -->
    <div class="table-wrapper" class="border-b-gray-200"">
      <div class="card-body">
        <div class="grid grid-cols-1 gap-6 gap-8 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <%== part(
              "components/form/text",
              name: "name",
              label: "Name",
              attributes: {
                required: true,
                placeholder: "Enter name"
              }
            ) %>
          </div>
        </div>

      </div>
      <div class="card-body">
        <div class="flex items-center justify-end gap-6">
          <a href="/project" class="text-sm font-semibold text-gray-900">Cancel</a>
          <%== part("components/form/submit_button", text: "Create") %>
        </div>
      </div>
    </div>
  <% end %>
</div>
