<% @page_title = "Create Project" %>

<%== part("components/page_header", breadcrumbs: [%w[Projects /project], %w[Create #]]) %>

<div class="content-grid">
  <% form(action: "/project", method: :post) do %>
    <!-- Create Card -->
    <div class="table-card">
      <div class="card-body">
        <div class="form-grid">
          <div class="form-col-3">
            <%== part(
              "components/form/text",
              name: "name",
              label: "Name",
              attributes: {
                required: true,
                placeholder: "Enter name"
              }
            ) %>
          </div>
        </div>

      </div>
      <div class="card-body">
        <div class="form-actions">
          <a href="/project" class="text-sm font-semibold text-gray-900">Cancel</a>
          <%== part("components/form/submit_button", text: "Create") %>
        </div>
      </div>
    </div>
  <% end %>
</div>
