<% form_action = "#{@project_data[:path]}/user/token/#{@token.ubid}/restrict-access"
page_action = "Restrict Personal Access Token"

right_items = [<<-CREATE]
  <form id="create-pat" action="#{form_action}" role="form" method="POST">
    #{csrf_tag(form_action)}
    #{render("components/form/submit_button", locals: { text: page_action })}
  </form>
CREATE

@page_title = "#{@project_data[:name]} - #{page_action}" %>
<%== render("project/user-tabbar") %>

<div class="space-y-1">
  <%== render(
    "components/page_header",
    locals: {
      title: page_action,
      breadcrumbs: [
        %w[Projects /project],
        [@project_data[:name], @project_data[:path]],
        ["Personal Access Tokens", "#{@project_data[:path]}/user/token"],
        [page_action, "#"]
      ],
      right_items:
    }
  ) %>
</div>

<div class="grid gap-6">
  <div>
    <div class="md:flex md:items-center md:justify-between pb-1 lg:pb-2">
      <div class="min-w-0 flex-1">
        Token
        <%= @token.ubid %>
        currently has the same access to this project that your account has. If you would like to restrict the access
        of this token, use the "Restrict Token Access" button. After restricting token access, the token will have no
        access to the project, and you can grant the specific access you want the token to have. Be aware that the
        token can never have more access to the project than your account has.
      </div>
    </div>
  </div>
</div>
