<% @page_title = @project.name
@quotas = ["VmVCpu", "PostgresVCpu", "KubernetesVCpu"].map {
  {
    resource_type: it,
    current_resource_usage: @project.current_resource_usage(it),
    quota: @project.effective_quota_value(it)
  }
} %>

<%== part(
  "components/page_header",
  title: "Project Settings",
  back: "/project",
  breadcrumbs: [%w[Projects /project], [@project.name, @project.path], %w[Settings #]]
) %>

<div class="content-grid">
  <!-- Detail Card -->
  <% form(action: @project.path, method: :post) do %>
    <%== part(
      "components/kv_data_card",
      data: [
        ["ID", @project.ubid],
        *(
          if has_permission?("Project:edit", @project)
            [
              [
                "Name",
                part(
                  "components/form/text",
                  name: "name",
                  value: @project.name,
                  button_title: "Save",
                  attributes: {
                    required: true
                  }
                ),
                { escape: false }
              ],
              [
                "SSH Public Keys",
                "<a href=\"#{@project.path}/ssh-public-key\" class=\"font-semibold text-orange-500\">Manage SSH Public Keys</a>",
                { escape: false}
              ]
            ]
          else
            [["Name", @project.name]]
          end
        )
      ]
    ) %>
  <% end %>
  <!-- Quota Card -->
  <div class="table-card">
    <div class="card-body">
      <h3 class="subsection-heading">Quotas</h3>
      <div class="description-text">
        <p>If you want to increase your quota, please get in touch at
          <a href="mailto:support@ubicloud.com" class="link-orange">support@ubicloud.com</a>.</p>
      </div>
    </div>

    <div class="grid-3col-responsive">
      <% @quotas.each do |quota| %>
        <div class="section-padded">
          <%== part(
            "components/progress_bar",
            title: quota[:resource_type],
            numerator: quota[:current_resource_usage],
            denominator: quota[:quota]
          ) %>
        </div>
      <% end %>
    </div>

  </div>
  <!-- Delete Card -->
  <% if has_permission?("Project:delete", @project) %>
    <div class="table-card">
      <div class="card-body">
        <div class="flex-header-sm">
          <div>
            <h3 class="subsection-heading">Delete project</h3>
            <div class="description-text">
              <p>This action will permanently delete this project. Deleted data cannot be recovered. Use it carefully.</p>
            </div>
          </div>
          <div class="actions-right">
            <%== part("components/delete_button", confirmation: @project.name, redirect: "/project") %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
