<% @page_title = "Close Account" %>

<%== part("components/page_header", title: "My Account") %>

<main>
  <div class="account-container">
    <div class="card">
      <div class="account-layout-grid">
        <%== render("account/submenu") %>
        <div class="account-content account-content-section">
          <div class="form-section-padded account-section">
            <h2 class="card-heading">Close Account</h2>
            <p class="form-help-text">This action will permanently delete this account. Deleted data cannot be recovered. Use it carefully.</p>
            <% form(action: rodauth.close_account_path, method: :post) do %>
              <div class="form-grid-6">
                <% if rodauth.close_account_requires_password? %>
                  <div class="form-field-small">
                    <%== render("components/rodauth/password_field") %>
                  </div>
                <% end %>
                <div class="grid-col-6">
                  <%== part("components/form/submit_button", text: "Close Account") %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
