<div class="mb-10">
  <div class="block">
    <div class="border-b border-gray-200">
      <nav class="-mb-px flex space-x-8" aria-label="Tabs">
        <% [["Change Password", "/account/change-password"], ["Change Email", "/account/change-login"], ["Close Account", "/account/close-account"]].each do |label, url| %>
          <a
            href="<%= url %>"
            class="<%= (request.path == url) ? "border-orange-600 text-orange-600" : "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" %> whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium"
          >
            <%= label %>
          </a>
        <% end %>
      </nav>
    </div>
  </div>
</div>
