version: 2
updates:
  - package-ecosystem: 'bundler'
    directory: '/'
    schedule:
      interval: 'daily'
    cooldown:
      default-days: 14
    versioning-strategy: lockfile-only
    allow:
      - dependency-type: "all"
    groups:
      production-dependencies:
        dependency-type: "production"
      development-dependencies:
        dependency-type: "development"
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    cooldown:
      default-days: 14
    allow:
      - dependency-type: "all"
    groups:
      js-dependencies:
        patterns:
          - "*"
  - package-ecosystem: 'docker'
    directory: '/'
    schedule:
      interval: 'weekly'
    cooldown:
      default-days: 14
    allow:
      - dependency-type: "all"
    groups:
      docker-dependencies:
        patterns:
          - "*"
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
    cooldown:
      default-days: 14
    allow:
      - dependency-type: "all"
    groups:
      github-actions-dependencies:
        patterns:
          - "*"
