version: 2
updates:
  - package-ecosystem: 'bundler'
    directory: '/'
    schedule:
      interval: 'daily'
    allow:
      - dependency-type: "all"
    groups:
      ruby-dependencies:
        patterns:
          - "*"
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    allow:
      - dependency-type: "all"
    groups:
      js-dependencies:
        patterns:
          - "*"
  - package-ecosystem: 'docker'
    directory: '/'
    schedule:
      interval: 'weekly'
    allow:
      - dependency-type: "all"
    groups:
      docker-dependencies:
        patterns:
          - "*"
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
    allow:
      - dependency-type: "all"
    groups:
      github-actions-dependencies:
        patterns:
          - "*"
