/.env.rb
/coverage
/spec/examples.txt
/demo/.env
/var/*
/tmp/*
/assets/css/app.css
/.auto-parallel-tests
/sdk/ruby/*.gem
/sql.log
/sql_query_parameterization_analysis.txt
/spec/routes/api/cli/spec-output-files
/spec/monitor-smoke-test-output-*
/cli-golden-files.diff
/cache-text-*

# Used by rake by
/bin/by

# rhizome/Gemfile is combination of all Gemfiles in subdirectories, so does rhizome/Gemfile.lock
/rhizome/*/Gemfile.lock

# Frontend
/node_modules

# vscode: https://github.com/github/gitignore/blob/4488915eec0b3a45b5c63ead28f286819c0917de/Global/VisualStudioCode.gitignore
/.vscode/*
!/.vscode/settings.json
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/extensions.json
!/.vscode/*.code-snippets

# Local History for Visual Studio Code
/.history/

# Built Visual Studio Code Extensions
/*.vsix

# CLI binary
/cli/ubi
/cli/ubi-*

# mise "local" dependency specification that shouldn't be committed
mise.local.toml
