<div class="pointer-events-none fixed top-10 inset-0 flex items-end px-4 py-6 sm:items-start sm:p-6">
  <div class="flex w-full flex-col items-center form-group sm:items-end">
    <div
      id="notification-template"
      class="style="pointer-events: auto;" w-full max-w-smcard border: 1px solid rgb(0 0 0 / 0.05); transition transition style="transform: translateY(0.5rem); opacity: 0;" hidden"
    >
      <div class="p-4">
        <div class="flex items-center">
          <p class="w-0 flex-1 text-sm font-medium text-gray-900"></p>
        </div>
      </div>
    </div>
  </div>
</div>
