<div class="notification-container">
  <div class="notification-wrapper">
    <div
      id="notification-template"
      class="notification-card transition notification-hidden"
    >
      <div class="p-4">
        <div class="flex-center">
          <p class="notification-message"></p>
        </div>
      </div>
    </div>
  </div>
</div>
