<div class="notification-container">
  <div class="notification-wrapper">
    <div
      id="notification-template"
      class="notification-card transition translate-y-2 opacity-0 hidden"
    >
      <div class="p-4">
        <div class="flex items-center">
          <p class="w-0 flex-1 text-sm font-medium text-gray-900"></p>
        </div>
      </div>
    </div>
  </div>
</div>
