<div
  class="sticky top-0 z-40 flex h-16 shrink-0 items-center gap-x-4 border-b border-gray-200 bg-white px-4 shadow-sm sm:gap-x-6 sm:px-6 lg:px-8"
>
  <button type="button" class="toggle-mobile-menu -m-2.5 p-2.5 text-gray-700 lg:hidden">
    <span class="sr-only">Open sidebar</span>
    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
    </svg>
  </button>
  <!-- Separator -->
  <div class="h-6 w-px bg-gray-900/10 lg:hidden"></div>
  <img class="h-8 w-auto lg:hidden" src="/logo-orange.png" alt="Ubicloud">
  <div class="flex flex-1 gap-x-4 self-stretch justify-end lg:gap-x-6">
    <div class="flex items-center gap-x-4 lg:gap-x-6">
      <!-- Separator -->
      <div class="hidden lg:block lg:h-6 lg:w-px lg:bg-gray-900/10" aria-hidden="true"></div>
      <!-- Profile dropdown -->
      <div class="relative group dropdown text-sm leading-6 text-gray-900">
        <button type="button" class="-m-1.5 flex items-center p-1.5">
          <svg
            class="h-8 w-8 rounded-full bg-gray-50"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"
            />
          </svg>
          <span class="hidden lg:flex lg:items-center">
            <span class="ml-3 font-semibold" aria-hidden="true"><%= @current_user.name %></span>
            <svg class="ml-2 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                clip-rule="evenodd"
              />
            </svg>
          </span>
        </button>
        <!-- Dropdown menu, show/hide based on menu state. Entering: "transition ease-out duration-100" From:
        "transform opacity-0 scale-95" To: "transform opacity-100 scale-100" Leaving: "transition ease-in duration-75"
        From: "transform opacity-100 scale-100" To: "transform opacity-0 scale-95" -->
        <div
          class="hidden group-[.active]:block absolute right-0 z-10 mt-2.5 w-32 origin-top-right rounded-md bg-white py-2 shadow-lg ring-1 ring-gray-900/5 focus:outline-none"
          role="menu"
          tabindex="-1"
        >
          <a href="/settings" class="block px-3 py-1 hover:bg-gray-100" role="menuitem" tabindex="-1">My Account</a>
          <a href="/project" class="block px-3 py-1 hover:bg-gray-100" role="menuitem" tabindex="-1">Projects</a>
          <form action="/logout" method="post">
            <%== csrf_tag("/logout") %>
            <button type="submit" class="block px-3 py-1 hover:bg-gray-100 w-full text-left" role="menuitem" tabindex="-1">Log out</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
