<% can_edit = has_permission?("KubernetesCluster:edit", @kc)

# A node is only retirable once the nodepool's strand is back in "wait" (every
# ProvisionKubernetesNode bud finished bootstrapping) and the pool has more than one
# node, since a nodepool must always keep at least one node.
node_retirable = @kn.strand.label == "wait" && @kn.node_count > 1

nodes =
  @kn.nodes_dataset.eager(vm: [:assigned_vm_address, :strand, :semaphores]).all.map do |node|
    vm = node.vm
    retire =
      if can_edit
        if node.state != "active"
          "<span class=\"text-sm font-medium text-gray-500\">Retiring...</span>"
        elsif node_retirable
          part(
            "components/delete_button",
            url: "#{path(@kc)}/node/#{vm.name}/retire",
            exact_url: true,
            text: "Retire",
            icon: "hero-x-circle",
            confirmation_message: "Are you sure you want to retire node #{vm.name}? It will be drained and removed from the node pool."
          )
        end
      end
    { name: vm.name, state: vm.display_state, hostname: vm.ip4_string, retire: }
  end

headers = %w[Name State Hostname]
headers << "Actions" if can_edit %>

<div class="p-6">
  <%== part(
    "components/table_card",
    title: "Nodes",
    headers:,
    empty_state: "This nodepool doesn't have any nodes yet",
    rows:
      nodes.map do |n|
        columns = [n[:name], n[:state], [n[:hostname], { copyable: true }]]
        columns << (n[:retire] ? [n[:retire], { escape: false }] : nil) if can_edit
        [columns, { id: "node-#{n[:name]}" }]
      end
  ) %>
</div>
