<% unless @has_valid_payment_method %>
  <div class="-mt-6 mb-2 rounded-md bg-red-50 p-4">
    <div class="flex items-center">
      <div class="flex-shrink-0">
        <%== part("components/icon", name: "hero-banknotes", classes: "h-9 w-9 text-red-400") %>
      </div>
      <div class="ml-3">
        <h3 class="text-sm font-medium text-red-700">
          Project doesn't have valid billing information. You have to create project's billing details first.
          <br>
          Project doesn't have valid billing information. You have to create
          project's billing details first.
          <br>
          <a href="<%= @project.path %>/billing" class="font-bold text-red-800">Click here</a>
          to create billing details.
        </h3>
      </div>
    </div>
  </div>
<% end %>
