<% unless @has_valid_payment_method %>
  <div class="billing-warning-container">
    <div class="flex-center">
      <div class="alert-icon-container">
        <%== part("components/icon", name: "hero-banknotes", classes: "h-9 w-9 text-red-400") %>
      </div>
      <div class="alert-content">
        <h3 class="billing-warning-header">
          Project doesn't have valid billing information. You have to create project's billing details first.
          <br>
          <a href="<%= @project.path %>/billing" class="billing-warning-link">Click here</a>
          to create billing details.
        </h3>
      </div>
    </div>
  </div>
<% end %>
