<% revealable ||= false %>

<span class="copieble-content inline-flex items-center" data-content="<%= content %>" data-message="<%= message %>">
  <% if revealable %>
    <%== render("components/revealable_content", locals: { content: content }) %>
  <% else %>
    <%= content %>
  <% end %>
  <img src="/icons/hero-clipboard-document.svg" width="18px" class="inline-block copy-button cursor-pointer ms1"/>
</span>
