<div
  class="
    overflow-hidden rounded-lg shadow ring-1 ring-black ring-opacity-5
    bg-white divide-y divide-gray-200
  "
>
  <% form(action: "#{@project.path}/discount-code", method: :post) do %>
    <div class="px-4 py-5 sm:p-6">
      <div class="space-y-12">
        <div>
          <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-8">
            <div class="sm:col-span-4">
              <%== part(
                "components/form/text",
                name: "discount_code",
                label: "Discount Code",
                attributes: {
                  required: true,
                }
              ) %>
            </div>
            <div class="col-span-2 sm:col-span-3 flex justify-start items-end">
              <%== part("components/form/submit_button", text: "Apply") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
