<div class="table-wrapper" style="border-bottom: 1px solid var(--gray-200);"">
  <% form(action: "#{@project.path}/discount-code", method: :post) do %>
    <div class="card-body">
      <div class="form-group2">
        <div>
          <div class="grid grid-cols-1 gap-6 gap-8 sm:grid-cols-8">
            <div class="sm:col-span-4">
              <%== part(
                "components/form/text",
                name: "discount_code",
                label: "Discount Code",
                attributes: {
                  required: true,
                }
              ) %>
            </div>
            <div class="col-span-2 sm:col-span-3 flex justify-start items-end">
              <%== part("components/form/submit_button", text: "Apply") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
