<div class="table-card">
  <% form(action: "#{@project.path}/discount-code", method: :post) do %>
    <div class="card-body">
      <div class="form-group2">
        <div>
          <div class="form-grid-8">
            <div class="form-col-4">
              <%== part(
                "components/form/text",
                name: "discount_code",
                label: "Discount Code",
                attributes: {
                  required: true,
                }
              ) %>
            </div>
            <div class="col-5-3-start">
              <%== part("components/form/submit_button", text: "Apply") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
