<div class="flash-container">
  <% [
    ["notice", "hero-check-circle-mini", "alert-success"],
    ["error", "hero-x-circle-mini", "alert-danger"]
  ].each do |type, icon, alert_class| %>
    <% next unless flash[type] %>
    <div class="alert <%= alert_class %>">
      <div class="flex">
        <div class="shrink-0">
          <%== part("components/icon", name: icon, classes: "icon-sm") %>
        </div>
        <div class="ml-3">
          <h3 id="flash-<%= type %>" class="text-sm font-medium"><%= flash[type] %></h3>
        </div>
      </div>
    </div>
  <% end %>
</div>
