<%# locals: (icon:, text:, subtext_html:) %>

<div class="flex gap-3 items-center">
    <div>
        <%== part("components/icon", name: icon, classes: "text-orange-600 h-8 w-8") %>
    </div>
    <div>
        <div class="font-bold text-gray-900"><%= text %></div>
        <div class="text-gray-600"><%== subtext_html %></div>
    </div>
</div>
