<%# locals: (icon:, text:, subtext:) %>

<div class="flex-gap-3">
    <div>
        <%== part("components/icon", name: icon, classes: "icon-lg icon-orange") %>
    </div>
    <div>
        <div class="icon-label-bold"><%== text %></div>
        <div class="icon-sublabel"><%== subtext %></div>
    </div>
</div>