<%# locals: (data:) %>
<div class="table-wrapper" style="border-bottom: 1px solid var(--gray-200);"">
  <div class="px-4 py-5 sm:p-0">
    <dl class=" ">
      <% data.reject { !it }.each do |name, value, opts| %>
        <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
          <dt class="text-sm font-medium text-gray-500"><%= name %></dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
            <%== part("components/value_content", content: value, opts:) %>
          </dd>
        </div>
      <% end %>
    </dl>
  </div>
</div>
