<%# locals: (data:) %>
<div class="table-card">
  <div class="px-4 py-5 sm:p-0">
    <dl class=" ">
      <% data.reject { !it }.each do |name, value, opts| %>
        <div class="kv-row">
          <dt class="stat-label"><%= name %></dt>
          <dd class="kv-value">
            <%== part("components/value_content", content: value, opts:) %>
          </dd>
        </div>
      <% end %>
    </dl>
  </div>
</div>
