<div class="md:flex md:items-center md:justify-between pb-4">
  <div class="min-w-0">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight"><%= title %></h2>
  </div>
  <% if defined?(left_items) %>
    <div class="mt-4 flex md:ml-4 md:mt-0 mr-auto">
      <%== left_items.join %>
    </div>
  <% end %>
  <% if defined?(right_items) %>
    <div class="mt-4 flex md:ml-4 md:mt-0">
      <%== right_items.join %>
    </div>
  <% end %>
</div>
