<%# locals: (object:, type:, text: nil) %>

<div class="flex-header-sm">
  <div>
    <h3>Rename
      <%= type %></h3>
    <% if text %>
      <div class="description-text">
        <p><%= text %></p>
      </div>
    <% end %>
    <div class="description-text">
      <%== part(
          "components/form/text",
          name: "name",
          value: object.name,
          attributes: {
            required: true
          }
      ) %>
    </div>
  </div>
  <div class="actions-right">
    <%== part("components/button", text: "Rename") %>
  </div>
</div>
