<%# locals: (object:, type:, text: nil) %>

<div class="sm:flex sm:items-center sm:justify-between">
  <div>
    <h3 class="text-base font-semibold text-gray-900">Rename
      <%= type %></h3>
    <% if text %>
      <div class="mt-2 text-sm text-gray-500">
        <p><%= text %></p>
      </div>
    <% end %>
    <div class="mt-2 text-sm text-gray-500">
      <%== part(
          "components/form/text",
          name: "name",
          value: object.name,
          attributes: {
            required: true
          }
      ) %>
    </div>
  </div>
  <div class="mt-5 sm:ml-6 sm:mt-0 sm:flex sm:shrink-0 sm:items-center">
    <%== part("components/button", text: "Rename") %>
  </div>
</div>
