<%# locals: (object:, type:, text: nil) %>

<div class="flex-header">
  <div class="flex-title">
    <h3>
      Rename
    </h3>
  </div>
</div>

<% form(action: "#{path(object)}/rename", method: :post) do %>
  <div class="table-card">
    <div class="card-body">
      <%== part("components/rename_object_input", object:, type:, text:) %>
    </div>
  </div>
<% end %>
