<span class="revealable-content">
  <span class="shadow-content flex items-center">
    ●●●●●●
    <img src="/icons/hero-eye.svg" width="18px" class="reveal-button inline-block cursor-pointer ms1"/>
  </span>
  <span class="revealed-content hidden flex items-center">
    <%= content %>
    <img src="/icons/hero-eye-slash.svg" width="18px" class="hide-button inline-block cursor-pointer ms1"/>
  </span>
</span>
