<%# locals: (content:) %>
<div class="revealable-content group">
  <div class="shadow-content items-center gap-2 flex group-[.active]:hidden">
    ●●●●●●
    <img src="/icons/hero-eye.svg" width="18px" class="revealable-button inline-block cursor-pointer ms1"/>
  </div>
  <div class="revealed-content hidden group-[.active]:block break-all">
    <div class="flex gap-2 items-center">
      <div class="revealed-content-text"><%= content %></div>
      <img src="/icons/hero-eye-slash.svg" width="18px" class="revealable-button inline-block cursor-pointer ms1"/>
    </div>
  </div>
</div>
