<%# locals: (state:, color:, extra_class: nil) %>

<span
  class="state-label <%= color %> <%= extra_class %>"
>
  <%== part("components/icon", name: "dot", classes: "h-2 w-2") %>
  <%= state %>
</span>
