<%# locals: (tabs:) %>
<div class="sm:block mb-6">
  <nav class="isolate flex divide-x divide-gray-200 rounded-lg shadow" aria-label="Tabs">
    <% tabs.each_with_index do |(label, url, active), i| %>
      <% active = (request.path == url) if active.nil? %>
      <a
        href="<%= url %>"
        class="tab-item <%= (i == 0) ? "rounded-l-lg" : ((i == tabs.size - 1) ? "rounded-r-lg" : "") %> <%= active ? "tab-active" : "tab-inactive" %>"
      >
        <span><%= label %></span>
      </a>
    <% end %>
  </nav>
</div>
