<%# locals: (title:, link:) %>

<table
  class="action"
  align="center"
  width="100%"
  cellpadding="0"
  cellspacing="0"
  role="presentation"
>
  <tr>
    <td align="center">
      <table
        width="100%"
        border="0"
        cellpadding="0"
        cellspacing="0"
        role="presentation"
      >
        <tr>
          <td align="center">
            <table
              width="100%"
              border="0"
              cellpadding="0"
              cellspacing="0"
              role="presentation"
            >
              <tr>
                <td>
                  <a
                    href="<%= link %>"
                    class="button button-primary"
                    target="_blank"
                    rel="noopener"
                    style="color: #FFFFFF"
                  >
                    <%= title %>
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
