<tr>
  <td class="header">
    <a href="<%= Config.base_url %>" style="display: inline-block; color: #111827; font-size: 24px; font-weight: 700; text-decoration: none;">
      LayerRail
    </a>
  </td>
</tr>
