<tr>
  <td class="header">
    <a href="<%= Config.base_url %>/logo-primary.png" class="email-logo-container">
      <img src="<%= Config.base_url %>/logo-primary.png" class="logo" alt="Ubicloud">
    </a>
  </td>
</tr>
