<tr>
  <td class="header">
    <a href="<%= base_url %>/logo-primary.png" style="display: inline-block;">
      <img src="<%= base_url %>/logo-primary.png" class="logo" alt="Ubicloud">
    </a>
  </td>
</tr>
