<tr>
  <td class="header">
    <a
      href="<%= Config.base_url %>/logo-primary.png"
      style="display: inline-block;"
    >
      <img
        src="<%= Config.base_url %>/logo-primary.png"
        class="logo"
        alt="Ubicloud"
      >
    </a>
  </td>
</tr>
