<% @page_title = @error[:type] %>
<% @direct_body_yield = true %>

<main class="error-page-container">
  <div class="text-center">
    <p class="error-code"><%= @error[:code] %></p>
    <h1 class="error-heading"><%= @error[:type] %></h1>
    <p class="error-message"><%= @error[:message] %></p>
    <div class="error-actions">
      <button
        type="button"
        class="back-btn error-back-button"
      >Go back</button>
    </div>
  </div>
</main>
