<% @page_title = @error[:type] %>
<% @direct_body_yield = true %>

<main class="grid min-h-full place-items-center px-6 py-24 sm:py-32 lg:px-8">
  <div class="text-center">
    <p class="text-base font-semibold text-orange-600"><%= @error[:code] %></p>
    <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl"><%= @error[:type] %></h1>
    <p class="mt-6 text-base leading-7 text-gray-600"><%= @error[:message] %></p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <button
        type="button"
        class="back-btn rounded-md bg-orange-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-orange-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600"
      >Go back</button>
    </div>
  </div>
</main>
