<% @page_title = @location.ui_name %>

<%== part(
  "components/page_header",
  title: "Region Detail",
  back: "/private-location",
  breadcrumbs: [%w[AWS\ Regions /private-location], [@location.ui_name, @location.path]]
) %>

<div class="content-grid">
  <!-- Detail Card -->
  <% form(action: path(@location), method: :post) do %>
    <%== part(
      "components/kv_data_card",
      data: [
        ["ID", @location.ubid],
        [
          "UI Name",
          part(
            "components/form/text",
            name: "name",
            value: @location.display_name,
            button_title: "Save",
            attributes: {
              required: true
            }
          ),
          { escape: false }
        ],
        ["API Name", @location.display_name],
        ["AWS Region", @location.name]
      ]
    ) %>
  <% end %>
  <!-- Danger Zone -->
  <% if has_permission?("Location:delete", @project) %>
    <div>
      <div class="flex-header">
        <div class="flex-title">
          <h3 class="section-heading">
            Danger Zone
          </h3>
        </div>
      </div>
      <div class="table-card">
        <!-- Delete Card -->
        <div class="card-body">
          <div class="flex-header-sm">
            <div>
              <h3 class="subsection-heading">Delete region</h3>
              <div class="description-text">
                <p>This action will permanently delete this region. Deleted data cannot be recovered. Use it carefully.</p>
              </div>
            </div>
            <div id="region-delete-<%=@location.ubid%>" class="actions-right">
              <%== part("components/delete_button", confirmation: @location.ui_name, redirect: "#{@project.path}/private-location") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
