<div id="mobile-menu" class="relative z-50 hidden group" role="dialog" aria-modal="true">
  <div
    class="mobile-menu-overlay"
  ></div>
  <div class="fixed inset-0 flex">
    <div
      class="relative mr-16 flex w-full max-w-xs flex-1 transition transition group-mobile-menu-open:translate-x-0"
    >
      <div
        class="mobile-menu-close-button-wrapper"
      >
        <button type="button" class="toggle-mobile-menu -m-2.5 p-2.5">
          <span class="sr-only">Close sidebar</span>
          <%== part("components/icon", name: "hero-x-mark", classes: "icon-md text-white") %>
        </button>
      </div>
      <%== render("layouts/sidebar/content") %>
    </div>
  </div>
</div>
