<%== part(
  "components/page_header",
  title: "GitHub Runners Integration",
  breadcrumbs: [
    %w[Projects /project],
    [@project.name, @project.path],
    ["GitHub Runners", "#{@project.path}/github"],
    [@page_title, "#"]
  ],
  right_items: [<<-DROPDOWN]
    <div class="group dropdown dropdown-inline">
      <div>#{part("components/button", text: @installation.name, icon: "github", right_icon: "hero-chevron-down")}</div>
      <div class="github-installation-dropdown" role="menu" tabindex="-1">
        <div>
          #{@project.github_installations.map do |ins|
            <<-ITEM
            <div class="transition-colors" role="none">
              <a href="#{path(ins)}/runner" class="dropdown-item">
                <img src="https://github.com/#{ins.name}.png?size=64" alt="" class="installation-avatar">
                <span class="#{"font-semibold" if ins.id == @installation.id}">#{ins.name}</span>
              </a>
            </div>
            ITEM
          end.join}
        </div>
        <div>
          <div class="transition-colors">
            <a href="#{@project.path}/github/create" class="dropdown-item">
              <div class="installation-placeholder">
                #{part("components/icon", name: "github", classes: "icon-sm icon-white")}
              </div>
              Connect New Account
            </a>
          </div>
        </div>
      </div>
    </div>
  DROPDOWN
) %>

<% installation_path = path(@installation) %>
<%== part(
  "components/tabbar",
  tabs: [
    ["Active Runners", "#{installation_path}/runner"],
    ["Caches", "#{installation_path}/cache"],
    ["Settings", "#{installation_path}/setting"]
  ]
) %>
