[Unit]
Description=Export pg network metering counters to node_exporter textfile

[Service]
Type=oneshot
ExecStart=/home/ubi/postgres/bin/export-network-metrics
