=begin
#Clover API

#API for managing resources on Ubicloud

The version of the OpenAPI document: 0.1.0
Contact: support@ubicloud.com
Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Ubicloud
  class FirewallRuleApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new firewall rule
    # @param project_id [String] ID of the project
    # @param firewall_name [String] Name of the firewall
    # @param create_firewall_rule_request [CreateFirewallRuleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [FirewallRule]
    def create_firewall_rule(project_id, firewall_name, create_firewall_rule_request, opts = {})
      data, _status_code, _headers = create_firewall_rule_with_http_info(project_id, firewall_name, create_firewall_rule_request, opts)
      data
    end

    # Create a new firewall rule
    # @param project_id [String] ID of the project
    # @param firewall_name [String] Name of the firewall
    # @param create_firewall_rule_request [CreateFirewallRuleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FirewallRule, Integer, Hash)>] FirewallRule data, response status code and response headers
    def create_firewall_rule_with_http_info(project_id, firewall_name, create_firewall_rule_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FirewallRuleApi.create_firewall_rule ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FirewallRuleApi.create_firewall_rule"
      end
      pattern = Regexp.new(/^pj[0-9a-hj-km-np-tv-z]{24}$/)
      if @api_client.config.client_side_validation && project_id !~ pattern
        fail ArgumentError, "invalid value for 'project_id' when calling FirewallRuleApi.create_firewall_rule, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'firewall_name' is set
      if @api_client.config.client_side_validation && firewall_name.nil?
        fail ArgumentError, "Missing the required parameter 'firewall_name' when calling FirewallRuleApi.create_firewall_rule"
      end
      # verify the required parameter 'create_firewall_rule_request' is set
      if @api_client.config.client_side_validation && create_firewall_rule_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_firewall_rule_request' when calling FirewallRuleApi.create_firewall_rule"
      end
      # resource path
      local_var_path = '/project/{project_id}/firewall/{firewall_name}/firewall-rule'.sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s)).sub('{' + 'firewall_name' + '}', CGI.escape(firewall_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_firewall_rule_request)

      # return_type
      return_type = opts[:debug_return_type] || 'FirewallRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"FirewallRuleApi.create_firewall_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FirewallRuleApi#create_firewall_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new firewall rule
    # @param location [String] The Ubicloud location/region
    # @param project_id [String] ID of the project
    # @param firewall_name [String] Name of the firewall
    # @param firewall_rule_id [String] ID of the firewall rule
    # @param create_firewall_rule_request [CreateFirewallRuleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [FirewallRule]
    def create_location_firewall_firewall_rule(location, project_id, firewall_name, firewall_rule_id, create_firewall_rule_request, opts = {})
      data, _status_code, _headers = create_location_firewall_firewall_rule_with_http_info(location, project_id, firewall_name, firewall_rule_id, create_firewall_rule_request, opts)
      data
    end

    # Create a new firewall rule
    # @param location [String] The Ubicloud location/region
    # @param project_id [String] ID of the project
    # @param firewall_name [String] Name of the firewall
    # @param firewall_rule_id [String] ID of the firewall rule
    # @param create_firewall_rule_request [CreateFirewallRuleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FirewallRule, Integer, Hash)>] FirewallRule data, response status code and response headers
    def create_location_firewall_firewall_rule_with_http_info(location, project_id, firewall_name, firewall_rule_id, create_firewall_rule_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FirewallRuleApi.create_location_firewall_firewall_rule ...'
      end
      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling FirewallRuleApi.create_location_firewall_firewall_rule"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FirewallRuleApi.create_location_firewall_firewall_rule"
      end
      pattern = Regexp.new(/^pj[0-9a-hj-km-np-tv-z]{24}$/)
      if @api_client.config.client_side_validation && project_id !~ pattern
        fail ArgumentError, "invalid value for 'project_id' when calling FirewallRuleApi.create_location_firewall_firewall_rule, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'firewall_name' is set
      if @api_client.config.client_side_validation && firewall_name.nil?
        fail ArgumentError, "Missing the required parameter 'firewall_name' when calling FirewallRuleApi.create_location_firewall_firewall_rule"
      end
      # verify the required parameter 'firewall_rule_id' is set
      if @api_client.config.client_side_validation && firewall_rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'firewall_rule_id' when calling FirewallRuleApi.create_location_firewall_firewall_rule"
      end
      pattern = Regexp.new(/^fr[0-9a-hj-km-np-tv-z]{24}$/)
      if @api_client.config.client_side_validation && firewall_rule_id !~ pattern
        fail ArgumentError, "invalid value for 'firewall_rule_id' when calling FirewallRuleApi.create_location_firewall_firewall_rule, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'create_firewall_rule_request' is set
      if @api_client.config.client_side_validation && create_firewall_rule_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_firewall_rule_request' when calling FirewallRuleApi.create_location_firewall_firewall_rule"
      end
      # resource path
      local_var_path = '/project/{project_id}/location/{location}/firewall/{firewall_name}/firewall-rule/{firewall_rule_id}'.sub('{' + 'location' + '}', CGI.escape(location.to_s)).sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s)).sub('{' + 'firewall_name' + '}', CGI.escape(firewall_name.to_s)).sub('{' + 'firewall_rule_id' + '}', CGI.escape(firewall_rule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_firewall_rule_request)

      # return_type
      return_type = opts[:debug_return_type] || 'FirewallRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"FirewallRuleApi.create_location_firewall_firewall_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FirewallRuleApi#create_location_firewall_firewall_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new firewall rule
    # @param firewall_name [String] Name of the firewall
    # @param location [String] The Ubicloud location/region
    # @param project_id [String] ID of the project
    # @param create_firewall_rule_request [CreateFirewallRuleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [FirewallRule]
    def create_location_firewall_rule(firewall_name, location, project_id, create_firewall_rule_request, opts = {})
      data, _status_code, _headers = create_location_firewall_rule_with_http_info(firewall_name, location, project_id, create_firewall_rule_request, opts)
      data
    end

    # Create a new firewall rule
    # @param firewall_name [String] Name of the firewall
    # @param location [String] The Ubicloud location/region
    # @param project_id [String] ID of the project
    # @param create_firewall_rule_request [CreateFirewallRuleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FirewallRule, Integer, Hash)>] FirewallRule data, response status code and response headers
    def create_location_firewall_rule_with_http_info(firewall_name, location, project_id, create_firewall_rule_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FirewallRuleApi.create_location_firewall_rule ...'
      end
      # verify the required parameter 'firewall_name' is set
      if @api_client.config.client_side_validation && firewall_name.nil?
        fail ArgumentError, "Missing the required parameter 'firewall_name' when calling FirewallRuleApi.create_location_firewall_rule"
      end
      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling FirewallRuleApi.create_location_firewall_rule"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FirewallRuleApi.create_location_firewall_rule"
      end
      pattern = Regexp.new(/^pj[0-9a-hj-km-np-tv-z]{24}$/)
      if @api_client.config.client_side_validation && project_id !~ pattern
        fail ArgumentError, "invalid value for 'project_id' when calling FirewallRuleApi.create_location_firewall_rule, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'create_firewall_rule_request' is set
      if @api_client.config.client_side_validation && create_firewall_rule_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_firewall_rule_request' when calling FirewallRuleApi.create_location_firewall_rule"
      end
      # resource path
      local_var_path = '/project/{project_id}/location/{location}/firewall/{firewall_name}/firewall-rule'.sub('{' + 'firewall_name' + '}', CGI.escape(firewall_name.to_s)).sub('{' + 'location' + '}', CGI.escape(location.to_s)).sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_firewall_rule_request)

      # return_type
      return_type = opts[:debug_return_type] || 'FirewallRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"FirewallRuleApi.create_location_firewall_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FirewallRuleApi#create_location_firewall_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a specific firewall rule
    # @param project_id [String] ID of the project
    # @param firewall_name [String] Name of the firewall
    # @param firewall_rule_id [String] ID of the firewall rule
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_firewall_rule(project_id, firewall_name, firewall_rule_id, opts = {})
      delete_firewall_rule_with_http_info(project_id, firewall_name, firewall_rule_id, opts)
      nil
    end

    # Delete a specific firewall rule
    # @param project_id [String] ID of the project
    # @param firewall_name [String] Name of the firewall
    # @param firewall_rule_id [String] ID of the firewall rule
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_firewall_rule_with_http_info(project_id, firewall_name, firewall_rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FirewallRuleApi.delete_firewall_rule ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FirewallRuleApi.delete_firewall_rule"
      end
      pattern = Regexp.new(/^pj[0-9a-hj-km-np-tv-z]{24}$/)
      if @api_client.config.client_side_validation && project_id !~ pattern
        fail ArgumentError, "invalid value for 'project_id' when calling FirewallRuleApi.delete_firewall_rule, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'firewall_name' is set
      if @api_client.config.client_side_validation && firewall_name.nil?
        fail ArgumentError, "Missing the required parameter 'firewall_name' when calling FirewallRuleApi.delete_firewall_rule"
      end
      # verify the required parameter 'firewall_rule_id' is set
      if @api_client.config.client_side_validation && firewall_rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'firewall_rule_id' when calling FirewallRuleApi.delete_firewall_rule"
      end
      pattern = Regexp.new(/^fr[0-9a-hj-km-np-tv-z]{24}$/)
      if @api_client.config.client_side_validation && firewall_rule_id !~ pattern
        fail ArgumentError, "invalid value for 'firewall_rule_id' when calling FirewallRuleApi.delete_firewall_rule, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/project/{project_id}/firewall/{firewall_name}/firewall-rule/{firewall_rule_id}'.sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s)).sub('{' + 'firewall_name' + '}', CGI.escape(firewall_name.to_s)).sub('{' + 'firewall_rule_id' + '}', CGI.escape(firewall_rule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"FirewallRuleApi.delete_firewall_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FirewallRuleApi#delete_firewall_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a specific firewall rule
    # @param location [String] The Ubicloud location/region
    # @param project_id [String] ID of the project
    # @param firewall_name [String] Name of the firewall
    # @param firewall_rule_id [String] ID of the firewall rule
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_location_firewall_firewall_rule(location, project_id, firewall_name, firewall_rule_id, opts = {})
      delete_location_firewall_firewall_rule_with_http_info(location, project_id, firewall_name, firewall_rule_id, opts)
      nil
    end

    # Delete a specific firewall rule
    # @param location [String] The Ubicloud location/region
    # @param project_id [String] ID of the project
    # @param firewall_name [String] Name of the firewall
    # @param firewall_rule_id [String] ID of the firewall rule
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_location_firewall_firewall_rule_with_http_info(location, project_id, firewall_name, firewall_rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FirewallRuleApi.delete_location_firewall_firewall_rule ...'
      end
      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling FirewallRuleApi.delete_location_firewall_firewall_rule"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FirewallRuleApi.delete_location_firewall_firewall_rule"
      end
      pattern = Regexp.new(/^pj[0-9a-hj-km-np-tv-z]{24}$/)
      if @api_client.config.client_side_validation && project_id !~ pattern
        fail ArgumentError, "invalid value for 'project_id' when calling FirewallRuleApi.delete_location_firewall_firewall_rule, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'firewall_name' is set
      if @api_client.config.client_side_validation && firewall_name.nil?
        fail ArgumentError, "Missing the required parameter 'firewall_name' when calling FirewallRuleApi.delete_location_firewall_firewall_rule"
      end
      # verify the required parameter 'firewall_rule_id' is set
      if @api_client.config.client_side_validation && firewall_rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'firewall_rule_id' when calling FirewallRuleApi.delete_location_firewall_firewall_rule"
      end
      pattern = Regexp.new(/^fr[0-9a-hj-km-np-tv-z]{24}$/)
      if @api_client.config.client_side_validation && firewall_rule_id !~ pattern
        fail ArgumentError, "invalid value for 'firewall_rule_id' when calling FirewallRuleApi.delete_location_firewall_firewall_rule, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/project/{project_id}/location/{location}/firewall/{firewall_name}/firewall-rule/{firewall_rule_id}'.sub('{' + 'location' + '}', CGI.escape(location.to_s)).sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s)).sub('{' + 'firewall_name' + '}', CGI.escape(firewall_name.to_s)).sub('{' + 'firewall_rule_id' + '}', CGI.escape(firewall_rule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"FirewallRuleApi.delete_location_firewall_firewall_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FirewallRuleApi#delete_location_firewall_firewall_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a specific firewall rule
    # @param project_id [String] ID of the project
    # @param location [String] The Ubicloud location/region
    # @param postgres_database_name [String] Postgres database name
    # @param firewall_rule_id [String] ID of the postgres firewall rule
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_location_postgres_firewall_rule(project_id, location, postgres_database_name, firewall_rule_id, opts = {})
      delete_location_postgres_firewall_rule_with_http_info(project_id, location, postgres_database_name, firewall_rule_id, opts)
      nil
    end

    # Delete a specific firewall rule
    # @param project_id [String] ID of the project
    # @param location [String] The Ubicloud location/region
    # @param postgres_database_name [String] Postgres database name
    # @param firewall_rule_id [String] ID of the postgres firewall rule
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_location_postgres_firewall_rule_with_http_info(project_id, location, postgres_database_name, firewall_rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FirewallRuleApi.delete_location_postgres_firewall_rule ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FirewallRuleApi.delete_location_postgres_firewall_rule"
      end
      pattern = Regexp.new(/^pj[0-9a-hj-km-np-tv-z]{24}$/)
      if @api_client.config.client_side_validation && project_id !~ pattern
        fail ArgumentError, "invalid value for 'project_id' when calling FirewallRuleApi.delete_location_postgres_firewall_rule, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling FirewallRuleApi.delete_location_postgres_firewall_rule"
      end
      # verify the required parameter 'postgres_database_name' is set
      if @api_client.config.client_side_validation && postgres_database_name.nil?
        fail ArgumentError, "Missing the required parameter 'postgres_database_name' when calling FirewallRuleApi.delete_location_postgres_firewall_rule"
      end
      # verify the required parameter 'firewall_rule_id' is set
      if @api_client.config.client_side_validation && firewall_rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'firewall_rule_id' when calling FirewallRuleApi.delete_location_postgres_firewall_rule"
      end
      pattern = Regexp.new(/^pf[0-9a-hj-km-np-tv-z]{24}$/)
      if @api_client.config.client_side_validation && firewall_rule_id !~ pattern
        fail ArgumentError, "invalid value for 'firewall_rule_id' when calling FirewallRuleApi.delete_location_postgres_firewall_rule, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/project/{project_id}/location/{location}/postgres/{postgres_database_name}/firewall-rule/{firewall_rule_id}'.sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s)).sub('{' + 'location' + '}', CGI.escape(location.to_s)).sub('{' + 'postgres_database_name' + '}', CGI.escape(postgres_database_name.to_s)).sub('{' + 'firewall_rule_id' + '}', CGI.escape(firewall_rule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"FirewallRuleApi.delete_location_postgres_firewall_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FirewallRuleApi#delete_location_postgres_firewall_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get details of a firewall rule
    # @param project_id [String] ID of the project
    # @param firewall_name [String] Name of the firewall
    # @param firewall_rule_id [String] ID of the firewall rule
    # @param [Hash] opts the optional parameters
    # @return [FirewallRule]
    def get_firewall_rule_details(project_id, firewall_name, firewall_rule_id, opts = {})
      data, _status_code, _headers = get_firewall_rule_details_with_http_info(project_id, firewall_name, firewall_rule_id, opts)
      data
    end

    # Get details of a firewall rule
    # @param project_id [String] ID of the project
    # @param firewall_name [String] Name of the firewall
    # @param firewall_rule_id [String] ID of the firewall rule
    # @param [Hash] opts the optional parameters
    # @return [Array<(FirewallRule, Integer, Hash)>] FirewallRule data, response status code and response headers
    def get_firewall_rule_details_with_http_info(project_id, firewall_name, firewall_rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FirewallRuleApi.get_firewall_rule_details ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FirewallRuleApi.get_firewall_rule_details"
      end
      pattern = Regexp.new(/^pj[0-9a-hj-km-np-tv-z]{24}$/)
      if @api_client.config.client_side_validation && project_id !~ pattern
        fail ArgumentError, "invalid value for 'project_id' when calling FirewallRuleApi.get_firewall_rule_details, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'firewall_name' is set
      if @api_client.config.client_side_validation && firewall_name.nil?
        fail ArgumentError, "Missing the required parameter 'firewall_name' when calling FirewallRuleApi.get_firewall_rule_details"
      end
      # verify the required parameter 'firewall_rule_id' is set
      if @api_client.config.client_side_validation && firewall_rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'firewall_rule_id' when calling FirewallRuleApi.get_firewall_rule_details"
      end
      pattern = Regexp.new(/^fr[0-9a-hj-km-np-tv-z]{24}$/)
      if @api_client.config.client_side_validation && firewall_rule_id !~ pattern
        fail ArgumentError, "invalid value for 'firewall_rule_id' when calling FirewallRuleApi.get_firewall_rule_details, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/project/{project_id}/firewall/{firewall_name}/firewall-rule/{firewall_rule_id}'.sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s)).sub('{' + 'firewall_name' + '}', CGI.escape(firewall_name.to_s)).sub('{' + 'firewall_rule_id' + '}', CGI.escape(firewall_rule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FirewallRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"FirewallRuleApi.get_firewall_rule_details",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FirewallRuleApi#get_firewall_rule_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get details of a firewall rule
    # @param location [String] The Ubicloud location/region
    # @param project_id [String] ID of the project
    # @param firewall_name [String] Name of the firewall
    # @param firewall_rule_id [String] ID of the firewall rule
    # @param [Hash] opts the optional parameters
    # @return [FirewallRule]
    def get_location_firewall_firewall_rule_details(location, project_id, firewall_name, firewall_rule_id, opts = {})
      data, _status_code, _headers = get_location_firewall_firewall_rule_details_with_http_info(location, project_id, firewall_name, firewall_rule_id, opts)
      data
    end

    # Get details of a firewall rule
    # @param location [String] The Ubicloud location/region
    # @param project_id [String] ID of the project
    # @param firewall_name [String] Name of the firewall
    # @param firewall_rule_id [String] ID of the firewall rule
    # @param [Hash] opts the optional parameters
    # @return [Array<(FirewallRule, Integer, Hash)>] FirewallRule data, response status code and response headers
    def get_location_firewall_firewall_rule_details_with_http_info(location, project_id, firewall_name, firewall_rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FirewallRuleApi.get_location_firewall_firewall_rule_details ...'
      end
      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling FirewallRuleApi.get_location_firewall_firewall_rule_details"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FirewallRuleApi.get_location_firewall_firewall_rule_details"
      end
      pattern = Regexp.new(/^pj[0-9a-hj-km-np-tv-z]{24}$/)
      if @api_client.config.client_side_validation && project_id !~ pattern
        fail ArgumentError, "invalid value for 'project_id' when calling FirewallRuleApi.get_location_firewall_firewall_rule_details, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'firewall_name' is set
      if @api_client.config.client_side_validation && firewall_name.nil?
        fail ArgumentError, "Missing the required parameter 'firewall_name' when calling FirewallRuleApi.get_location_firewall_firewall_rule_details"
      end
      # verify the required parameter 'firewall_rule_id' is set
      if @api_client.config.client_side_validation && firewall_rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'firewall_rule_id' when calling FirewallRuleApi.get_location_firewall_firewall_rule_details"
      end
      pattern = Regexp.new(/^fr[0-9a-hj-km-np-tv-z]{24}$/)
      if @api_client.config.client_side_validation && firewall_rule_id !~ pattern
        fail ArgumentError, "invalid value for 'firewall_rule_id' when calling FirewallRuleApi.get_location_firewall_firewall_rule_details, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/project/{project_id}/location/{location}/firewall/{firewall_name}/firewall-rule/{firewall_rule_id}'.sub('{' + 'location' + '}', CGI.escape(location.to_s)).sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s)).sub('{' + 'firewall_name' + '}', CGI.escape(firewall_name.to_s)).sub('{' + 'firewall_rule_id' + '}', CGI.escape(firewall_rule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FirewallRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"FirewallRuleApi.get_location_firewall_firewall_rule_details",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FirewallRuleApi#get_location_firewall_firewall_rule_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
