=begin
#Clover API

#API for managing resources on Ubicloud

The version of the OpenAPI document: 0.1.0
Contact: support@ubicloud.com
Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Ubicloud
  class PrivateSubnetApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Connect private subnet to another private subnet
    # @param project_id [String] ID of the project
    # @param location [String] The Ubicloud location/region
    # @param private_subnet_name [String] Private subnet name
    # @param connect_private_subnet_request [ConnectPrivateSubnetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PrivateSubnet]
    def connect_private_subnet(project_id, location, private_subnet_name, connect_private_subnet_request, opts = {})
      data, _status_code, _headers = connect_private_subnet_with_http_info(project_id, location, private_subnet_name, connect_private_subnet_request, opts)
      data
    end

    # Connect private subnet to another private subnet
    # @param project_id [String] ID of the project
    # @param location [String] The Ubicloud location/region
    # @param private_subnet_name [String] Private subnet name
    # @param connect_private_subnet_request [ConnectPrivateSubnetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PrivateSubnet, Integer, Hash)>] PrivateSubnet data, response status code and response headers
    def connect_private_subnet_with_http_info(project_id, location, private_subnet_name, connect_private_subnet_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PrivateSubnetApi.connect_private_subnet ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling PrivateSubnetApi.connect_private_subnet"
      end
      pattern = Regexp.new(/^pj[0-9a-hj-km-np-tv-z]{24}$/)
      if @api_client.config.client_side_validation && project_id !~ pattern
        fail ArgumentError, "invalid value for 'project_id' when calling PrivateSubnetApi.connect_private_subnet, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling PrivateSubnetApi.connect_private_subnet"
      end
      # verify the required parameter 'private_subnet_name' is set
      if @api_client.config.client_side_validation && private_subnet_name.nil?
        fail ArgumentError, "Missing the required parameter 'private_subnet_name' when calling PrivateSubnetApi.connect_private_subnet"
      end
      # verify the required parameter 'connect_private_subnet_request' is set
      if @api_client.config.client_side_validation && connect_private_subnet_request.nil?
        fail ArgumentError, "Missing the required parameter 'connect_private_subnet_request' when calling PrivateSubnetApi.connect_private_subnet"
      end
      # resource path
      local_var_path = '/project/{project_id}/location/{location}/private-subnet/{private_subnet_name}/connect'.sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s)).sub('{' + 'location' + '}', CGI.escape(location.to_s)).sub('{' + 'private_subnet_name' + '}', CGI.escape(private_subnet_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(connect_private_subnet_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PrivateSubnet'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PrivateSubnetApi.connect_private_subnet",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PrivateSubnetApi#connect_private_subnet\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new Private Subnet in a specific location of a project
    # @param project_id [String] ID of the project
    # @param location [String] The Ubicloud location/region
    # @param private_subnet_name [String] Private subnet name
    # @param [Hash] opts the optional parameters
    # @option opts [CreatePrivateSubnetRequest] :create_private_subnet_request 
    # @return [PrivateSubnet]
    def create_private_subnet(project_id, location, private_subnet_name, opts = {})
      data, _status_code, _headers = create_private_subnet_with_http_info(project_id, location, private_subnet_name, opts)
      data
    end

    # Create a new Private Subnet in a specific location of a project
    # @param project_id [String] ID of the project
    # @param location [String] The Ubicloud location/region
    # @param private_subnet_name [String] Private subnet name
    # @param [Hash] opts the optional parameters
    # @option opts [CreatePrivateSubnetRequest] :create_private_subnet_request 
    # @return [Array<(PrivateSubnet, Integer, Hash)>] PrivateSubnet data, response status code and response headers
    def create_private_subnet_with_http_info(project_id, location, private_subnet_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PrivateSubnetApi.create_private_subnet ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling PrivateSubnetApi.create_private_subnet"
      end
      pattern = Regexp.new(/^pj[0-9a-hj-km-np-tv-z]{24}$/)
      if @api_client.config.client_side_validation && project_id !~ pattern
        fail ArgumentError, "invalid value for 'project_id' when calling PrivateSubnetApi.create_private_subnet, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling PrivateSubnetApi.create_private_subnet"
      end
      # verify the required parameter 'private_subnet_name' is set
      if @api_client.config.client_side_validation && private_subnet_name.nil?
        fail ArgumentError, "Missing the required parameter 'private_subnet_name' when calling PrivateSubnetApi.create_private_subnet"
      end
      # resource path
      local_var_path = '/project/{project_id}/location/{location}/private-subnet/{private_subnet_name}'.sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s)).sub('{' + 'location' + '}', CGI.escape(location.to_s)).sub('{' + 'private_subnet_name' + '}', CGI.escape(private_subnet_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_private_subnet_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'PrivateSubnet'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PrivateSubnetApi.create_private_subnet",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PrivateSubnetApi#create_private_subnet\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a specific Private Subnet
    # @param project_id [String] ID of the project
    # @param location [String] The Ubicloud location/region
    # @param private_subnet_name [String] Private subnet name
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_private_subnet(project_id, location, private_subnet_name, opts = {})
      delete_private_subnet_with_http_info(project_id, location, private_subnet_name, opts)
      nil
    end

    # Delete a specific Private Subnet
    # @param project_id [String] ID of the project
    # @param location [String] The Ubicloud location/region
    # @param private_subnet_name [String] Private subnet name
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_private_subnet_with_http_info(project_id, location, private_subnet_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PrivateSubnetApi.delete_private_subnet ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling PrivateSubnetApi.delete_private_subnet"
      end
      pattern = Regexp.new(/^pj[0-9a-hj-km-np-tv-z]{24}$/)
      if @api_client.config.client_side_validation && project_id !~ pattern
        fail ArgumentError, "invalid value for 'project_id' when calling PrivateSubnetApi.delete_private_subnet, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling PrivateSubnetApi.delete_private_subnet"
      end
      # verify the required parameter 'private_subnet_name' is set
      if @api_client.config.client_side_validation && private_subnet_name.nil?
        fail ArgumentError, "Missing the required parameter 'private_subnet_name' when calling PrivateSubnetApi.delete_private_subnet"
      end
      # resource path
      local_var_path = '/project/{project_id}/location/{location}/private-subnet/{private_subnet_name}'.sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s)).sub('{' + 'location' + '}', CGI.escape(location.to_s)).sub('{' + 'private_subnet_name' + '}', CGI.escape(private_subnet_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PrivateSubnetApi.delete_private_subnet",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PrivateSubnetApi#delete_private_subnet\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Disconnect private subnet from another private subnet
    # @param project_id [String] ID of the project
    # @param location [String] The Ubicloud location/region
    # @param private_subnet_name [String] Private subnet name
    # @param private_subnet_id [String] ID of the private subnet
    # @param [Hash] opts the optional parameters
    # @return [PrivateSubnet]
    def disconnect_private_subnet(project_id, location, private_subnet_name, private_subnet_id, opts = {})
      data, _status_code, _headers = disconnect_private_subnet_with_http_info(project_id, location, private_subnet_name, private_subnet_id, opts)
      data
    end

    # Disconnect private subnet from another private subnet
    # @param project_id [String] ID of the project
    # @param location [String] The Ubicloud location/region
    # @param private_subnet_name [String] Private subnet name
    # @param private_subnet_id [String] ID of the private subnet
    # @param [Hash] opts the optional parameters
    # @return [Array<(PrivateSubnet, Integer, Hash)>] PrivateSubnet data, response status code and response headers
    def disconnect_private_subnet_with_http_info(project_id, location, private_subnet_name, private_subnet_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PrivateSubnetApi.disconnect_private_subnet ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling PrivateSubnetApi.disconnect_private_subnet"
      end
      pattern = Regexp.new(/^pj[0-9a-hj-km-np-tv-z]{24}$/)
      if @api_client.config.client_side_validation && project_id !~ pattern
        fail ArgumentError, "invalid value for 'project_id' when calling PrivateSubnetApi.disconnect_private_subnet, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling PrivateSubnetApi.disconnect_private_subnet"
      end
      # verify the required parameter 'private_subnet_name' is set
      if @api_client.config.client_side_validation && private_subnet_name.nil?
        fail ArgumentError, "Missing the required parameter 'private_subnet_name' when calling PrivateSubnetApi.disconnect_private_subnet"
      end
      # verify the required parameter 'private_subnet_id' is set
      if @api_client.config.client_side_validation && private_subnet_id.nil?
        fail ArgumentError, "Missing the required parameter 'private_subnet_id' when calling PrivateSubnetApi.disconnect_private_subnet"
      end
      pattern = Regexp.new(/^ps[0-9a-hj-km-np-tv-z]{24}$/)
      if @api_client.config.client_side_validation && private_subnet_id !~ pattern
        fail ArgumentError, "invalid value for 'private_subnet_id' when calling PrivateSubnetApi.disconnect_private_subnet, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/project/{project_id}/location/{location}/private-subnet/{private_subnet_name}/disconnect/{private_subnet_id}'.sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s)).sub('{' + 'location' + '}', CGI.escape(location.to_s)).sub('{' + 'private_subnet_name' + '}', CGI.escape(private_subnet_name.to_s)).sub('{' + 'private_subnet_id' + '}', CGI.escape(private_subnet_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PrivateSubnet'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PrivateSubnetApi.disconnect_private_subnet",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PrivateSubnetApi#disconnect_private_subnet\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get details of a specific Private Subnet in a location
    # @param project_id [String] ID of the project
    # @param location [String] The Ubicloud location/region
    # @param private_subnet_name [String] Private subnet name
    # @param [Hash] opts the optional parameters
    # @return [PrivateSubnet]
    def get_private_subnet_details(project_id, location, private_subnet_name, opts = {})
      data, _status_code, _headers = get_private_subnet_details_with_http_info(project_id, location, private_subnet_name, opts)
      data
    end

    # Get details of a specific Private Subnet in a location
    # @param project_id [String] ID of the project
    # @param location [String] The Ubicloud location/region
    # @param private_subnet_name [String] Private subnet name
    # @param [Hash] opts the optional parameters
    # @return [Array<(PrivateSubnet, Integer, Hash)>] PrivateSubnet data, response status code and response headers
    def get_private_subnet_details_with_http_info(project_id, location, private_subnet_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PrivateSubnetApi.get_private_subnet_details ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling PrivateSubnetApi.get_private_subnet_details"
      end
      pattern = Regexp.new(/^pj[0-9a-hj-km-np-tv-z]{24}$/)
      if @api_client.config.client_side_validation && project_id !~ pattern
        fail ArgumentError, "invalid value for 'project_id' when calling PrivateSubnetApi.get_private_subnet_details, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling PrivateSubnetApi.get_private_subnet_details"
      end
      # verify the required parameter 'private_subnet_name' is set
      if @api_client.config.client_side_validation && private_subnet_name.nil?
        fail ArgumentError, "Missing the required parameter 'private_subnet_name' when calling PrivateSubnetApi.get_private_subnet_details"
      end
      # resource path
      local_var_path = '/project/{project_id}/location/{location}/private-subnet/{private_subnet_name}'.sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s)).sub('{' + 'location' + '}', CGI.escape(location.to_s)).sub('{' + 'private_subnet_name' + '}', CGI.escape(private_subnet_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PrivateSubnet'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PrivateSubnetApi.get_private_subnet_details",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PrivateSubnetApi#get_private_subnet_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Private Subnets in a specific location of a project
    # @param project_id [String] ID of the project
    # @param location [String] The Ubicloud location/region
    # @param [Hash] opts the optional parameters
    # @option opts [String] :start_after Pagination - Start after
    # @option opts [Integer] :page_size Pagination - Page size (default to 10)
    # @option opts [String] :order_column Pagination - Order column (default to 'id')
    # @return [ListLocationPrivateSubnets200Response]
    def list_location_private_subnets(project_id, location, opts = {})
      data, _status_code, _headers = list_location_private_subnets_with_http_info(project_id, location, opts)
      data
    end

    # List Private Subnets in a specific location of a project
    # @param project_id [String] ID of the project
    # @param location [String] The Ubicloud location/region
    # @param [Hash] opts the optional parameters
    # @option opts [String] :start_after Pagination - Start after
    # @option opts [Integer] :page_size Pagination - Page size (default to 10)
    # @option opts [String] :order_column Pagination - Order column (default to 'id')
    # @return [Array<(ListLocationPrivateSubnets200Response, Integer, Hash)>] ListLocationPrivateSubnets200Response data, response status code and response headers
    def list_location_private_subnets_with_http_info(project_id, location, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PrivateSubnetApi.list_location_private_subnets ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling PrivateSubnetApi.list_location_private_subnets"
      end
      pattern = Regexp.new(/^pj[0-9a-hj-km-np-tv-z]{24}$/)
      if @api_client.config.client_side_validation && project_id !~ pattern
        fail ArgumentError, "invalid value for 'project_id' when calling PrivateSubnetApi.list_location_private_subnets, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling PrivateSubnetApi.list_location_private_subnets"
      end
      # resource path
      local_var_path = '/project/{project_id}/location/{location}/private-subnet'.sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s)).sub('{' + 'location' + '}', CGI.escape(location.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'start_after'] = opts[:'start_after'] if !opts[:'start_after'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'order_column'] = opts[:'order_column'] if !opts[:'order_column'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListLocationPrivateSubnets200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PrivateSubnetApi.list_location_private_subnets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PrivateSubnetApi#list_location_private_subnets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List visible Private Subnets
    # @param project_id [String] ID of the project
    # @param [Hash] opts the optional parameters
    # @option opts [String] :start_after Pagination - Start after
    # @option opts [Integer] :page_size Pagination - Page size (default to 10)
    # @option opts [String] :order_column Pagination - Order column (default to 'id')
    # @return [ListLocationPrivateSubnets200Response]
    def list_pss(project_id, opts = {})
      data, _status_code, _headers = list_pss_with_http_info(project_id, opts)
      data
    end

    # List visible Private Subnets
    # @param project_id [String] ID of the project
    # @param [Hash] opts the optional parameters
    # @option opts [String] :start_after Pagination - Start after
    # @option opts [Integer] :page_size Pagination - Page size (default to 10)
    # @option opts [String] :order_column Pagination - Order column (default to 'id')
    # @return [Array<(ListLocationPrivateSubnets200Response, Integer, Hash)>] ListLocationPrivateSubnets200Response data, response status code and response headers
    def list_pss_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PrivateSubnetApi.list_pss ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling PrivateSubnetApi.list_pss"
      end
      pattern = Regexp.new(/^pj[0-9a-hj-km-np-tv-z]{24}$/)
      if @api_client.config.client_side_validation && project_id !~ pattern
        fail ArgumentError, "invalid value for 'project_id' when calling PrivateSubnetApi.list_pss, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/project/{project_id}/private-subnet'.sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'start_after'] = opts[:'start_after'] if !opts[:'start_after'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'order_column'] = opts[:'order_column'] if !opts[:'order_column'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListLocationPrivateSubnets200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PrivateSubnetApi.list_pss",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PrivateSubnetApi#list_pss\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
