<% if has_permission?("PrivateSubnet:edit", @ps) %>
  <div class="section-padded">
    <%== part("components/rename_object", object: @ps, type: "private subnet") %>
  </div>
<% end %>

<% if has_permission?("PrivateSubnet:delete", @ps) %>
  <div class="section-padded">
    <div class="flex-header">
      <div class="flex-title">
        <h3 class="section-heading">
          Danger Zone
        </h3>
      </div>
    </div>
    <div class="table-card">
      <div class="card-body">
        <div class="flex-header-sm">
          <div>
            <h3 class="subsection-heading">Delete private subnet</h3>
            <div class="description-text">
              <p>This action will permanently delete this private subnet. Deleted subnet cannot be recovered. Use it
                carefully.</p>
            </div>
          </div>
          <div class="actions-right">
            <%== part("components/delete_button", url: path(@ps), confirmation: @ps.name, redirect: "#{@project.path}/private-subnet") %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
