<% if has_permission?("PrivateSubnet:edit", @ps) %>
  <div class="p-6">
    <%== part("components/rename_object", object: @ps, type: "private subnet") %>
  </div>
<% end %>

<% if has_permission?("PrivateSubnet:delete", @ps) %>
  <div class="p-6">
    <div class="md:flex md:items-center md:justify-between">
      <div class="min-w-0 flex-1">
        <h3 class="text-2xl font-bold text-gray-900 sm:text-2xl sm:truncate sm:tracking-tight">
          Danger Zone
        </h3>
      </div>
    </div>
    <div class="table-wrapper" style="border-bottom: 1px solid var(--gray-200);"">
      <div class="card-body">
        <div class="sm:flex sm:items-center sm:justify-between">
          <div>
            <h3 class="text-base font-semibold text-gray-900">Delete private subnet</h3>
            <div class="mt-2 text-sm text-gray-500">
              <p>This action will permanently delete this private subnet. Deleted subnet cannot be recovered. Use it
                carefully.</p>
            </div>
          </div>
          <div class="mt-5 sm:ml-6 sm:mt-0 sm:flex sm:shrink-0 sm:items-center">
            <%== part("components/delete_button", url: path(@ps), confirmation: @ps.name, redirect: "#{@project.path}/private-subnet") %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
