<% active_ver = @machine_image.active_version %>
<%== part(
  "components/kv_data_card",
  data: [
    ["ID", @machine_image.ubid],
    ["Name", @machine_image.name],
    ["Location", @machine_image.display_location],
    ["Active Version", active_ver ? active_ver.version.to_s : "None"],
    ["Active Version State", active_ver ? ["machine_image_state_label", {component: { state: active_ver.state }}] : "N/A"],
    ["Architecture", active_ver&.arch || "N/A"],
    ["Size", active_ver ? "#{active_ver.size_gib} GiB" : "N/A"],
    ["Source VM",
      active_ver&.vm ? "<a href='#{active_ver.vm.path}' class='text-rose-500 hover:underline'>#{h(active_ver.vm.name)}</a>" : "N/A",
      active_ver&.vm ? { escape: false } : {}],
    ["Created At", @machine_image.created_at&.strftime("%B %d, %Y %H:%M UTC")]
  ]
) %>
