<% @page_title = "Create Load Balancer" %>

<%== part(
  "components/page_header",
  breadcrumbs: [
    %w[Projects /project],
    [@project_data[:name], @project_data[:path]],
    ["Load Balancers", "#{@project_data[:path]}/load-balancer"],
    %w[Create #]
  ]
) %>

<%
  form_elements = [
    {name: "name", type: "text", label: "Name", required: "required", placeholder: "Enter name", opening_tag: "<div class='col-span-6 col-start-1 md:col-end-4 xl:col-end-3'>"},
    {name: "private_subnet_id", type: "select", label: "Private Subnet", placeholder: "Select private subnet", content_generator: ContentGenerator::LoadBalancer.method(:select_option), opening_tag: "<div class='col-span-6 col-start-1 md:col-end-4 xl:col-end-3'>"},
    {name: "algorithm", type: "select", label: "Load Balancing Algorithm", content_generator: ContentGenerator::LoadBalancer.method(:select_option), opening_tag: "<div class='col-span-6 col-start-1 md:col-end-4 xl:col-end-3'>"},
    {name: "stack", type: "select", label: "Stack", required: "required", content_generator: ContentGenerator::LoadBalancer.method(:select_option), opening_tag: "<div class='col-span-6 col-start-1 md:col-end-4 xl:col-end-3'>"},
    {name: "forwarding_rule", type: "section", label: "Forwarding Rule", content: "Configures the routing of traffic from the load balancer to your virtual machines."}
  ]

  action = "#{@project_data[:path]}/load-balancer"

  dynamic_template = <<-HTML
    <div class="grid grid-cols-5 gap-4 mt-2 dynamic-port-entry">
      <div>
        <label for="src_port" class="block text-sm font-medium text-gray-700">Load Balancer Port</label>
        <input type="number" name="ports[][src_port]" id="src_port" class="mt-1 block w-full border-gray-300 rounded-md" data-original-id="src_port" placeholder="80">
      </div>
      <div>
        <label for="dst_port" class="block text-sm font-medium text-gray-700">Application Port</label>
        <input type="number" name="ports[][dst_port]" id="dst_port" class="mt-1 block w-full border-gray-300 rounded-md" data-original-id="dst_port" placeholder="80">
      </div>
      <div>
        <label for="health_check_endpoint" class="block text-sm font-medium text-gray-700">HTTP Health Check Endpoint</label>
        <input type="text" name="ports[][health_check_endpoint]" id="health_check_endpoint" class="mt-1 block w-full border-gray-300 rounded-md" data-original-id="health_check_endpoint" placeholder="/up">
      </div>
      <div>
        <label for="health_check_protocol" class="block text-sm font-medium text-gray-700">Health Check Protocol</label>
        <select name="ports[][health_check_protocol]" id="health_check_protocol" class="mt-1 block w-full border-gray-300 rounded-md" data-original-id="health_check_protocol">
          <option value="">Select protocol</option>
          <option value="http">HTTP</option>
          <option value="https">HTTPS</option>
        </select>
      </div>
    </div>
  HTML
%>

<%== part("components/form/resource_creation_form",
  action: action,
  form_elements: form_elements,
  option_tree: @option_tree,
  option_parents: @option_parents,
  dynamic_template: dynamic_template,
  dynamic_template_id: "port-template",
  dynamic_container_id: "ports-container",
  dynamic_add_button_id: "new-port-btn",
  dynamic_button_text: "Add Port Entry"
) %>
