<%== part(
  "components/kv_data_card",
  data: [
    ["ID", @lb.ubid],
    ["Name", @lb.name],
    ["Connection String", @lb.hostname, { copyable: true }],
    [
      "Private Subnet",
      "<a href='#{path(@lb.private_subnet)}' class='text-rose-500 hover:underline'>#{@lb.private_subnet.name}</a>",
      { escape: false }
    ],
    ["Algorithm", (@lb.algorithm == "round_robin") ? "Round Robin" : "Hash Based"],
    ["Stack", @lb.stack.gsub("ip", "IP")],
    ["Load Balancer Port", @lb.src_port],
    ["Application Port", @lb.dst_port],
    ["HTTP Health Check Endpoint", @lb.health_check_endpoint]
  ]
) %>
