<div class="p-6">
  <div class="flex-header">
    <div class="flex-title">
      <h3 class="section-heading">Firewall Rules</h3>
      <p class="text-gray-500 mt-2">
      <% if firewall = @pg.customer_firewall %>
          You can 
          <a class="link-primary" href="<%= path(firewall) %>/networking">manage firewall rules using the firewall for this PostgreSQL database</a>.
      <% else %>
          The firewall related to this PostgreSQL database was deleted or detached from the related private subnet,
          you can manage firewall rules using an appropriate firewall on the
          <a class="link-primary" href="<%= path(@pg.private_subnet) %>/networking">private subnet</a>.
      <% end %>
      </p>
    </div>
  </div>
</div>
