<% @page_title = @pg[:name] %>

<div class="space-y-1">
  <%== render(
    "components/breadcrumb",
    locals: {
      back: "#{@project_data[:path]}/postgres",
      parts: [
        %w[Projects /project],
        [@project_data[:name], @project_data[:path]],
        ["PostgreSQL Databases", "#{@project_data[:path]}/postgres"],
        [@pg[:name], "#"]
      ]
    }
  ) %>
  <%== render(
    "components/page_header",
    locals: {
      title: @pg[:name],
      right_items: [render("components/pg_state_label", locals: { state: @pg[:state], extra_class: "text-md" })]
    }
  ) %>
</div>
<div class="grid gap-6">
  <!-- Detail Card -->
  <% data = [
    ["ID", @pg[:ubid]],
    ["Name", @pg[:name]],
    ["Location", @pg[:location]],
    ["Compute", @pg[:vm_size]],
    ["Storage", "#{@pg[:storage_size_gib]} GB"]
  ]
  
  if @pg[:connection_string] == ""
    data.push(["Connection String", "Waiting for host to be ready..."])
  else
    data.push(["Connection String", @pg[:connection_string], { copieble: true, revealable: true }])
  end %>
  <%== render("components/kv_data_card", locals: { data: data }) %>
  <!-- Delete Card -->
  <% if Authorization.has_permission?(@current_user.id, "Postgres:delete", @pg[:id]) %>
    <div class="overflow-hidden rounded-lg shadow ring-1 ring-black ring-opacity-5 bg-white divide-y divide-gray-200">
      <div class="px-4 py-5 sm:p-6">
        <div class="sm:flex sm:items-center sm:justify-between">
          <div>
            <h3 class="text-base font-semibold leading-6 text-gray-900">Delete PostgreSQL database</h3>
            <div class="mt-2 text-sm text-gray-500">
              <p>This action will permanently delete this PostgreSQL database.</p>
            </div>
          </div>
          <div class="mt-5 sm:ml-6 sm:mt-0 sm:flex sm:flex-shrink-0 sm:items-center">
            <%== render(
              "components/delete_button",
              locals: {
                url: request.path,
                confirmation: @pg[:name],
                redirect: "#{@project_data[:path]}/postgres"
              }
            ) %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
