<% rows =
   @kc.nodepools_dataset.eager(:strand, :semaphores, cluster: :location).all.map do |np|
     [
       [
         [np.name, { link: "#{path(np)}/overview" }],
         np.node_count,
         np.target_node_size,
         np.version,
         [part("components/kubernetes_state_label", state: np.display_state), { escape: false }]
       ],
       { id: "nodepool-#{np.ubid}" }
     ]
   end %>

<div class="p-6">
  <%== part(
    "components/table_card",
    title: "Nodepools",
    headers: ["Name", "Node Count", "Node Size", "Version", "State"],
    rows:
  ) %>
</div>
