<% @page_title = @kc.name %>

<%== part("object/show",
  object: @kc,
  tabs: [
    ["Overview", "overview", "hero-squares-plus"],
    ["Nodes", "nodes", "hero-globe-alt"],
    ["Settings", "settings", "hero-cog-8-tooth"]
  ],
  type: "kubernetes-cluster",
  breadcrumb_label: "Kubernetes Clusters",
  right_header: part("components/kubernetes_state_label", state: @kc.display_state, extra_class: "text-md")
) %>

<div class="grid gap-6">
  <!-- Danger Zone -->
</div>
