<% @enable_cloudflare_turnstile = Config.cloudflare_turnstile_site_key %>

<% if @enable_cloudflare_turnstile %>
  <div class="cf-turnstile" data-sitekey="<%= Config.cloudflare_turnstile_site_key %>"></div>
<% end %>
