<%# locals: (name:, error:) %>
<% if error.is_a?(Array) %>
  <p class="form-error-text" id="<%= name %>-error">
    <% error.each do |e| %>
      <%= e %><br/>
    <% end %>
  </p>
<% else %>
  <p class="form-error-text" id="<%= name %>-error"><%= error %></p>
<% end %>
