<%# locals: (description:, tos_text:) %>
<div class="col-span-full">
  <div class="form-group">
    <label class="text-sm font-medium text-gray-900">Partnership Notice</label>
    <div class="form-group text-sm text-gray-600">
      <% Array(description).each do |desc| %>
        <p><%== desc %></p>
      <% end %>
    </div>
    <%== part("components/form/checkbox", options: [["1", tos_text, {}, { required: true }]]) %>
  </div>
</div>
