<% name ||= nil
selected = flash.dig("old", name) || selected %>

<div class="">
  <%== render(
    "components/form/select",
    locals: {
      name: name,
      options: [
        ["", "No policy", nil, { title: "Can't access any resources, need advanced access policy" }],
        [
          Authorization::ManagedPolicy::Member.name,
          "Member",
          nil,
          { title: "Can perform all actions except managing users and billing" }
        ],
        [Authorization::ManagedPolicy::Admin.name, "Admin", nil, { title: "Can perform all actions" }]
      ],
      selected: selected
    }
  ) %>
</div>
