<% name ||= nil
selected = flash.dig("old", name) || selected
allowed_add_tags = dataset_authorize(@project.subject_tags_dataset, "SubjectTag:add").map(&:name) %>

<div class="">
  <%== render(
    "components/form/select",
    locals: {
      name: name,
      options: [["", "No access", nil, {}]].concat(
        @project.subject_tags_dataset.map do
          [_1.name, _1.name, nil, allowed_add_tags.include?(_1.name) ? {} : { disabled: true }]
        end
      ),
      selected: selected
    }
  ) %>
</div>
