<%# locals: (name: nil, selected: nil) %>
<% selected = flash.dig("old", name) || selected %>

<div class="">
  <%== render(
    "components/form/select",
    locals: {
      name: name,
      options: [["", "No access", nil, {}]].concat(
        dataset_authorize(@project.subject_tags_dataset, "SubjectTag:add").map { [_1.name, _1.name, nil, {}] }
      ),
      selected: selected
    }
  ) %>
</div>
