<%# locals: (label:, content:, separator: false) %>
<% if separator %>
  <hr class="h-px spaced-bottom-lg bg-gray-200 border-0 dark:bg-gray-700">
<% end %>
<h2><%= label %></h2>
<p class="text-help-sm help-text"><%= content %></p>
