<%# locals: (label:, content:, separator: false) %>

<% if separator %>
  <hr class="h-px mb-8 bg-gray-200 border-0 dark:bg-gray-700">
<% end %>

<h2 class="text-base font-semibold leading-7 text-gray-900"><%= label %></h2>

<p class="mt-1 text-sm leading-6 text-gray-600"><%= content %></p>
