<%# locals: (label:, content:, separator: false) %>
<% if separator %>
  <hr class="h-px mb-8 bg-gray-200 border-0 dark:bg-gray-700">
<% end %>
<h2 class="subsection-heading"><%= label %></h2>
<p class="mt-1 help-text"><%= content %></p>
