<%# locals: (name:, action:, active:) %>

<% form(action:, method: :post, id: "#{name}_toggle") do %>
  <%== hidden_inputs(name => !active) %>
  <div class="group <%= active ? "active" : "" %>">
    <button
      type="submit"
      class="toggle-parent-to-active relative inline-flex h-8 w-16 shrink-0 cursor-pointer rounded-full border-2 border-transparent bg-gray-200 group-[.active]:bg-orange-600 transition-colors transition  focus:ring-offset-2"
    >
      <span
        class="toggle-slider"
      ></span>
    </button>
  </div>
<% end %>
