<%# locals: (name:, action:, active:) %>

<% form(action:, method: :post, id: "#{name}_toggle") do %>
  <%== hidden_inputs(name => !active) %>
  <div class="group <%= active ? "active" : "" %>">
    <button
      type="submit"
      class="toggle-parent-to-active toggle-switch"
    >
      <span class="toggle-slider"></span>
    </button>
  </div>
<% end %>
