<% @page_title = "Custom Regions" %>

<%== part(
  "components/page_header",
  right_items: ((!@regions.empty?) && has_project_permission("AwsRegion:create")) ? [
    part("components/button", text: "Create Region", link: "#{@project_data[:path]}/aws-region/create")
  ] : []
) %>

<div class="grid gap-6">
  <%== part(
      "components/table_card",
      headers: ["Name", "AWS Region"],
      rows: @regions.map do |r|
        [
          [
            [r.location.ui_name, {link: r.path}],
            [r.region_name]
          ],
          { id: "region-#{r[:id]}" }
        ]
      end,
      empty_state: {
        icon: "hero-map-pin",
        title: "No regions",
        description: "Get started by creating a new region.",
        button_link: "#{@project_data[:path]}/aws-region/create",
        button_title: "Create Region"
      }
    ) %>
</div>
