body {
  font-size: 1em;
  font-family: sans-serif;
}
.container {
  max-width: 1200px;
  margin: auto;
}

a, .navbar-brand { color: #b04209; }

a {
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

input, select, textarea {
  padding: 5px;
  font-size: 1em;
}
input[type=submit] {
  color: white;
  border: 2px solid black;
  background-color: #ea580c;
  font-weight: bold;

  #ubid_form & { font-size: 0.9em; }
}

nav div.container, .associations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}
.navbar-brand {
  font-weight: bold;
  text-decoration: none;
  font-size: 1.6em;
}

.alert {
  padding: 10px;
  margin-bottom: 10px;
}
#flash-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
#flash-error {
  background-color: #f2dede;
  border-color: #ebccd1;
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.1em; }

label {
  display: inline-block;
  margin-right: 5px;
}
label:after { content: ": "; }

table, thead, tbody, tr, th, td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 2px;
}
table { margin-top: 1em; }
th { padding: 5px; }
tbody tr {
  &:nth-child(6n+1), &:nth-child(6n+2), &:nth-child(6n+3) {
    background-color: #eee;
  }
  td[rowspan] { background-color: white; }
}
caption {
  font-size: 1.3em;
  font-weight: bold;
}

code {
  display: inline-block;
  padding: 5px;
  background-color: #eee;
}

#associations-header {
  padding-bottom: 0;
  margin-bottom: 0;
}
.associations {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.association {
  border: 1px solid black;
  padding: 5px;

  & h3 {
    text-align: center;
    padding-top: 0;
    margin-top: 0;
  }
  
  & ul {
    list-style-type: none;
    padding: 0;
  }
}

#model-class-list {
  columns: 5;
}

#object-list {
  columns: 4;
}

#strand-info form {
  display: inline-block;
}

#action-list a {
  display: inline-block;
  border-left: 1px solid black;
  padding-left: 10px;
  padding-right: 5px;
  &:first-child {
    padding-left: 0;
    border-left: none;
  }
}

.rodauth {
  div { margin-bottom: 10px; }
  label { min-width: 100px; }
  .rodauth_hidden { display: none; }
}

#autoforme_table, .nav-tabs, .pager {
  padding: 0;
  margin: 0;
}

.nav-tabs, .pager {
  li {
    display: inline-block;
    padding: 10px;
  }
}
.nav-tabs > :first-child { border-right: 1px solid black; }

#autoforme_content form div {
  margin: 10px;

  & label {
    min-width: 150px;
  }
  & input[type=text] {
    min-width: 300px;
  }
}
