<% @page_title = "Create Firewall" %>

<div class="space-y-1">
  <%== render(
    "components/breadcrumb",
    locals: {
      parts: [
        %w[Projects /project],
        [@project_data[:name], @project_data[:path]],
        ["Firewalls", "#{@project_data[:path]}/firewall"],
        %w[Create #]
      ]
    }
  ) %>
  <%== render("components/page_header") %>
</div>

<%
  form_elements = [
    {name: "name", type: "text", label: "Name", required: "required", placeholder: "Enter name", opening_tag: "<div class='sm:col-span-2'>"},
    {name: "description", type: "text", label: "Description", required: "required", placeholder: "Enter description", opening_tag: "<div class='sm:col-span-2'>"},
    {name: "location", type: "radio_small_cards", label: "Location", required: "required", content_generator: ContentGenerator::Vm.method(:location)},
    {name: "private_subnet_id", type: "select", label: "Private Subnet", placeholder: "Select private subnet", content_generator: ContentGenerator::Vm.method(:private_subnet), opening_tag: "<div class='sm:col-span-2'>"},
  ]

  action = "#{@project_data[:path]}/firewall"
%>

<%==render("components/form/resource_creation_form", locals: {action:, form_elements:, option_tree: @option_tree, option_parents: @option_parents})%>
