<% if has_permission?("Firewall:edit", @firewall) %>
  <div class="p-6">
    <%== part("components/rename_object", object: @firewall, type: "firewall") %>
  </div>
<% end %>

<div class="p-6">
  <div class="flex-header">
    <div class="flex-title">
      <h3 class="section-heading">
        Danger Zone
      </h3>
    </div>
  </div>

  <% if has_permission?("Firewall:delete", @firewall) %>
    <div class="table-card">
      <div class="card-body">
        <div class="flex-header-sm">
          <div>
            <h3 class="subsection-heading">Delete firewall</h3>
            <div class="description-text">
              <p>This action will permanently delete this firewall. Deleted firewall cannot be recovered. Use it
                carefully.</p>
            </div>
          </div>
          <div class="actions-right">
            <%== part("components/delete_button", url: path(@firewall), confirmation: @firewall.name, redirect: "#{@project.path}/firewall") %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
